<section>
    <main role="main">
  
      <section class="jumbotron text-center">
        <div class="container">
          <h1>Accessories</h1>

          <p class="lead text-muted">Make the most of your Hytorc bolting technology with our environmentally friendly sockets, custom made reaction fixtures and offset links 
            so that your next project will have the speed, reliability and precision of our Hytorc custom bolting platforms.</p>
          
          <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
          
        </div>
      </section>
  
      <div class="album py-5 bg-light">
        <div class="container">
  
          <!-- Grid row -->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
                
                <a class="no-decoration" href="/eco-line-sockets">
                  <img class="card-img-top" src="/images/eco-line.png" alt="Card image cap">
                  <div class="card-body">
                    <h4>ECO LINE Sockets</h4>
                    <h6>
                      The new coating, Eco Line, has been developed with the aim to protect the environment through 
                        an environmentally friendly manufacturing process, but also to help our clients worldwide to respond to new environmental targets.
                    </h6>
                    <div>
                      <div class="itunes-store">
                        <a href="/eco-line-sockets" class="btn btn-secondary">View</a>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
                
                <a class="no-decoration" href="/hytorc-reaction-fixtures">
                  <img class="card-img-top" src="/images/reaction-fixtures.png" alt="Card image cap">
                  <div class="card-body">
                    <h4>HYTORC Reaction Fixtures</h4>
                    <h6>Custom-Made reaction fixtures guarantee safe and efficient work.</h6>
                    <div>
                      <div class="itunes-store">
                        <a href="/hytorc-reaction-fixtures" class="btn btn-secondary">View</a>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
                
                <a class="no-decoration" href="/offset-link">
                  <img class="card-img-top" src="/images/offset-link.png" alt="Card image cap">
                  <div class="card-body">
                    <h4>OffSet Link</h4>
                    <h6>
                      The cartridge system of the HYTORC Offset Link allows it to be used with A/F nut sizes ranging from 1” (30mm) to 3” (80mm). 
                        The cartridges are easy to fit or remove through two bolts. HYTORC square drive tools mount 
                        on the Offset Link which can be used as a ratchet link, making our Offset Links ideal for applications with limited space around or above the nut.
                    </h6>
                    <div>
                      <div class="itunes-store">
                        <a href="/offset-link" class="btn btn-secondary">View</a>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>
          </div>
  
  </section>
  