<section>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="">
            ASME Bolting Institute
          </h1>
          <h2 class="jumbotron-heading">HYTORC Training</h2>
          <p class="lead text-muted">HYTORC has a goal to educate all those engaged in industrial bolting in the principles and practices that significantly 
              improve safety, quality, and efficiency of bolting operations. We regularly conduct training classes that are designed for a variety of job 
              functions ranging from operators and technicians to managers and engineers. Classes range from a few hours to a few days and can be 
              customized to meet your schedule and specific application focus. In most cases we bring the class to you in order to make training as 
              convenient and economical as possible. HBI offers free courses 
              in Bolting Basics and Basic Operation and Safety and formal fee-based training with certificates from ASME* and OSHA*.</p>
          <p>
            <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
          </p>
        </div>
      </section>
    </main>
  </section>
  
  <section>
    <section class="text-center">
      <div class="container">
        <h1 class="">
          ASME Courses Offered
        </h1>
        <hr class="hycare-hr">
      </div>
    </section>
  </section>
  
  <section>
    <div class="container mb-4">
      <!-- Grid row -->
      <div class="row card justify-content-center md-4 box-shadow">
        <!--Grid column-->
        <div class="col-lg-12 col-lg-12">
          <div class="card-body p-0">
            <!-- Grid row -->
            <div class="row justify-content-center">
              <!--Grid column-->
              <div class="col-8">
                <h4 class="hycare-title margint"><strong>ASME-QUALIFIED BOLTED SPECIALIST (AQBS) - BOLTING PRINCIPLES AND PROCEDURES</strong></h4>
                <h6 class="margint">
                  (HYTORC EQUIVALENT: HT-300/301)
                </h6>
              </div>
              <div class="table-responsive mx-4">
                <table class="table mb-0 margint">
                  <tbody>
                    <tr>
                      <td>Duration</td>
                      <td>12 hours online; 8 hours hands-on instruction and evaluation.
                        TOTAL: 20 Hours</td>
                      <td>Course Topics</td>
                    </tr>
                    <tr>
                        <td>Class Part 1</td>
                        <td rowspan="2">Online self-paced ASME.org</td>
                      <td>
                          <strong>Part 1</strong> Principles of Bolted Joint Assembly
                          <br>
                          <strong>Part 2</strong> Flanges, Fasteners and Gaskets
                          <br>
                          <strong>Part 3</strong> Putting it Together/Taking it Apart
                          <br>
                          <strong>Part 4</strong> Bolting Safety and Tool Handling
                    </tr>
                    <tr>
                      <td>Class Part 2</td>
                      <td>Application with 6 months verified experience
                        Online Final Examination</td>
                    </tr>
                    <tr>
                      <td>Class Part 3</td>
                      <td>Groups 4 to 6 In-person instruction and evaluation</td>
                      <td>Hands-On tool demonstration and testing by an ASMEauthorized testing provider</td>
                    </tr>
                    <tr>
                      <td>Certs / Credits</td>
                      <td>ASME / 12 PDH’s</td>
                      <td>8 hour in-person training and evaluation
                        Practical principles of tool operation
                        Safety training</td>
                    </tr>
                    <tr>
                      <td>Instructor</td>
                      <td>ASME Approved Training Instructor</td>
                      <td>Demonstrate bolting tool use and assembly</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>ASME Approved Location</td>
                    </tr>
                    <tr>
                        <td>Equipment</td>
                        <td>HYTORC Tools</td>
                    </tr>
                      <td>Audience</td>
                      <td colspan="3">Primarily technicians and bolting operators; anyone involved in assembly, disassembly, and quality of bolted joints; pipefitters, 
                          construction workers, boilermakers, millwrights, iron workers, mechanics, maintenance workers, equipment operators - managers, supervisors, 
                          and engineers will also benefit.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mb-4">
      <!-- Grid row -->
        <div class="row card justify-content-center md-4 box-shadow">
          <!--Grid column-->
          <div class="col">
              <div class="card-body">
                  <table class="table mb-0">
                      <tbody>
                      <tr>
                          <td>Cost**</td>
                          <td>First online class: <strong>FREE</strong></td>
                          <td>3 online classes: <strong>$230 (each, x3)</strong></td>
                          <td>1-day hands-on: <strong>$510</strong></td>
                          <td><strong>Total: $1,200 / Student</strong></td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
    </div>
  </section>

  <section>
    <div class="container mb-4">
      <!-- Grid row -->
      <div class="row card justify-content-center md-4 box-shadow">
        <!--Grid column-->
        <div class="col-lg-12 col-lg-12">
          <div class="card-body p-0">
            <!-- Grid row -->
            <div class="row justify-content-center">
              <!--Grid column-->
              <div class="col-8">
                <h4 class="hycare-title margint">
                  <strong>
                    ASME PD577 – BOLTED JOINT ASSEMBLY PRINCIPLES
                  </strong>
                </h4>
                <h6 class="margint">
                  (HYTORC EQUIVALENT: HT-577)
                </h6>
              </div>
              <div class="table-responsive margint mx-4">
                <table class="table mb-0">
                  <tbody>
                    <tr>
                      <td>Duration</td>
                      <td>16 hours (2 days)</td>
                      <td>Course Topics</td>
                    </tr>
                    <tr>
                        <td>Class Size</td>
                        <td rowspan="2">10-20(typical)</td>
                      <td>
                          Day 1
                          <br>
                          PCC-1-2013 guidelines
                          <br>
                           Role of standards and certification
                          <br>
                          Principles of safe bolting
                          <br>
                           Principles of joint reliability
                          <br>
                          Flanges, fasteners and gaskets
                          <br>
                          Principles of torque tightening
                          <br>
                          Principles of tensioning
                    </tr>
                    <tr>
                        <td>Certs / Credits</td>
                        <td>1.5 CEU's, 15 PDH’s</td>
                      </tr>
                    <tr>
                      <td>Instructor</td>
                      <td>ASME Approved Training Instructor</td>
                      <td>
                        Day 2
                        <br>
                        Dealing with corrosion
                        <br>
                        Bolting sequence, patterns and interaction
                        <br>
                        Multiple point torqueing
                        <br>
                        Tool setup, alignment and gasket installation
                        <br>
                        Pneumatic tensioning and disassembly
                        <br>
                        Mechanical tensioning and disassembly
                        <br>
                        Practical application
                      </td>
                    </tr>
                      <td>Audience</td>
                      <td colspan="3">Engineers and managers; anyone specifying or managing bolting needing more in-depth knowledge of bolting theory and practice; 
                          construction, plant managers, plant engineers, design engineers, project managers, and line supervisors.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mb-4">
      <!-- Grid row -->
      <div class="row card justify-content-center md-4 box-shadow">
        <!--Grid column-->
        <div class="col">

          <div class="card-body">
            <table class="table mb-0">
              <tbody>
                <tr>
                  <td>
                    Cost**
                  </td>
                  <td>
                    <strong>
                      $700 / Student
                    </strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </section>