<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>

            <!--View Products cut sheets drop down-->
            <p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        View Torque Charts
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="no-decoration" href="/images/avanti.7.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                AVANTI .7
                            </button>
                        </a>    
                        <a class="no-decoration" href="/images/avanti1.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                AVANTI 1
                            </button>
                        </a>                   
                        <a class="no-decoration" href="/images/avanti3.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                AVANTI 3
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/avanti5.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                AVANTI 5
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/avanti8.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                AVANTI 8
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/avanti10.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                AVANTI 10
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/avanti20.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                AVANTI 20
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/avanti35.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                AVANTI 35
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/avanti50.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                AVANTI 50
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/avanti80.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                AVANTI 80
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/avanti130.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                AVANTI 130
                            </button>
                        </a>
                    </div>
                </div>
            </p>

            <!--Download cut sheet button-->
            <p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download Torque Chart
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a download class="no-decoration" href="/images/avanti.7.pdf">
                            <button class="dropdown-item" type="button">
                                AVANTI .7
                            </button>
                        </a>    
                        <a download class="no-decoration" href="/images/avanti1.pdf">
                            <button class="dropdown-item" type="button">
                                AVANTI 1
                            </button>
                        </a>                   
                        <a download class="no-decoration" href="/images/avanti3.pdf">
                            <button class="dropdown-item" type="button">
                                AVANTI 3
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/avanti5.pdf">
                            <button class="dropdown-item" type="button">
                                AVANTI 5
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/avanti8.pdf">
                            <button class="dropdown-item" type="button">
                                AVANTI 8
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/avanti10.pdf">
                            <button class="dropdown-item" type="button">
                                AVANTI 10
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/avanti20.pdf">
                            <button class="dropdown-item" type="button">
                                AVANTI 20
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/avanti35.pdf">
                            <button class="dropdown-item" type="button">
                                AVANTI 35
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/avanti50.pdf">
                            <button class="dropdown-item" type="button">
                                AVANTI 50
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/avanti80.pdf">
                            <button class="dropdown-item" type="button">
                                AVANTI 80
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/avanti130.pdf">
                            <button class="dropdown-item" type="button">
                                AVANTI 130
                            </button>
                        </a>
                    </div>
                </div>
            </p>
        </div>
    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        AVANTI
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Hydraulic Torque Tool
                    </h3>
                    <h6 class="text-left">
                        The AVANTI Bolting System offers the widest range of torque output with a 
                        maximum output of more than 130,000 ft-lbs in the largest model. With tens of 
                        thousands in use around the world, 
                        the AVANTI is the industry’s trusted solution for next-generation bolting.
                    </h6>
                </div>
            </div>

            <!--product specs table-->

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Tool Type:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                Hydraulic
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Radius
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                0.99" - 5.31"
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Weight
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                3.10 - 585.00 Lbs
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Torque Range:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                113.00 - 138510.00 ft-lbs
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end of product specs table-->

        <hr>

        <!--Features section-->
        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>Features</h3>
                </div>
            </div>
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 avanti-1">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                <div class="row">
                    <div class="col-12 text-left">
                        <h5>
                            Reaction Drive
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <h6>
                            The AVANTI features a patented industry-first reaction drive that eliminates 
                            the destructive twisting force that occurs in other torque wrenches that have 
                            a back-end reaction arm. (*Also found on ICE series)
                        </h6>
                    </div>
                </div>                
            </div>
        </div>
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 avanti-2">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                Torque & Angle Dial
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                With a simple add-on, the AVANTI system is capable of providing a clear angle 
                                reading for bolting methods that incorporate turn of the nut.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 avanti-3">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                Multi-Use System
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                The AVANTI works with all 
                                <a href="/fasteners">
                                    HYTORC bolting systems 
                                </a>
                                including tensioning with the 
                                <!--TODO: make a hytorc nut page-->
                                <a href="/hytorc-nut">
                                    HYTORC Nut
                                </a>
                                and the revolutionary new 
                                <a href="/fasteners">
                                    HYTORC Washer
                                </a>
                                for added safety, speed and accuracy on any job.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>


            <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">
                    <a class="btn btn-secondary my-2 mx-4" href="/images/avanti-manual.pdf" target="_blank">View Manual</a> 
                </div>
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/avanti-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>                      
                </div>
            </div>
            

            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center"> 
                    <a download class="btn btn-secondary my-2 mx-4" href="/images/avanti-manual.pdf">Download Manual</a>                          
                </div>
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/avanti-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>   
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->
            

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
        <!--Carousel Wrapper-->
            <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
            <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                    <img src="/images/avanti-show-1.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                    <img src="/images/avanti-show-2.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                    <img src="/images/avanti-show-3.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Third slide-->
                    <!--Fourth slide-->
                    <div class="carousel-item">
                    <img src="/images/avanti-show-4.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Fourth slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--end of image carousel-->
    </section>
    <!--end of card style-->
</div>
