<section>

  <div class="container-fluid align-items-center justify-content-center">
    <!-- Grid row -->
    <div class="row align-items-center justify-content-center">
      <!--Grid column-->
     <div class="col-12 align-items-center justify-content-center large-width">
      <div class="page-header">
        <h1>
          Bolting Software
        </h1>
      </div>
      <hr>
      <!-- Grid row -->
      <div class="row mx-1">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
          <div class="card card-block">
            <img class="card-img-top-software mx-auto d-block margin-top" src="/images/bolting-software.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">HYTORC Flange Manager</h5>
              <p class="card-text marginb">HYTORC does partner with a Flange Management Software company. If interested, please contact us at 
                <a href="mailto:info@hytorc.com">info@hytorc.com</a>
                 for more information</p>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
          <div class="card card-block">
            <img class="card-img-top-software mx-auto d-block margin-top" src="/images/hytorc-portal.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">HYTORC Customer Portal</h5>
              <p class="card-text marginb">With TORCsafe, you can be sure that all of your HYTORC equipment is ready when you need it. Our highly trained technicians will remind you when service is due and schedule
                an on-site visit to inspect, repair and calibrate your equipment as required.</p>
              <a href="https://portal.hytorc.com/home.php" class="btn btn-secondary btn-bottom">TORCSafe Portal</a>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
          <div class="card card-block">
            <img class="card-img-top-software mx-auto d-block margin-top" src="/images/app-page.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">HYTORC App</h5>
              <p class="card-text marginb">The Official HYTORC App gives you instant access to torque charts, safety and operational videos, product manuals, service center locations and our comprehensive bolt load calculator.
                The calculator recommends the best torque values and bolt loads for your job as well the recommended bolting pattern based on the bolting system you are using and the number of tools on
                the job.</p>
              <div>
                <div class="itunes-store">
                  <a href="https://apps.apple.com/us/app/hytorc-industrial-bolting-systems/id904956429" class="btn btn-secondary">iTunes Store</a>
                </div>
                <div class="google-play-store">
                  <a href="https://play.google.com/store/apps/details?id=com.app.hytorc&hl=en" class="btn btn-secondary play-store-button">Google Play Store</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
          <div class="card">
            <img class="card-img-top-software mx-auto d-block margin-top" src="/images/flange-calc-pic.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">HYTORC Flange Calculator</h5>
              <p class="card-text marginb">HYTORC flange bolting calculator computes recommended torque values, bolting patterns, tool selection and pump pressure settings for
                standard ASME B16.5 and API 6A flanges under normal assembly conditions..</p>
              <a href="https://hytorc.com/app01/calculator/" class="btn btn-secondary btn-bottom">Calculator</a>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>

</section>
