<section>
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Bolting Institute</h1>
        <h2 class="jumbotron-heading">HYTORC Training</h2>
        <p class="lead text-muted">HYTORC has a goal to educate all those engaged in industrial bolting in the principles and practices that significantly
          improve safety, quality, and efficiency of bolting operations. We regularly conduct training classes that are designed for a variety of job functions
          ranging from operators and technicians to managers and engineers. Classes range from a few hours to a few days and can be customized to meet your schedule and specific application focus.
          In most cases we bring the class to you in order to make training as convenient and economical as possible.
          HBI offers free courses in Bolting Basics and Basic Operation and Safety and formal fee-based training with certificates from ASME* and OSHA*.</p>
        <p>
          <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
        </p>
      </div>
    </section>
  </main>
</section>

<section>
  <section class="text-center">
    <div class="container">
      <h1>HYTORC Courses Offered</h1>
      <hr class="hycare-hr">
    </div>
  </section>
</section>

<section>
  <div class="container mb-4">
    <div class="row card justify-content-center md-4 box-shadow">
      <div class="col-lg-12 col-lg-12">
        <div class="">
          <div class="row justify-content-center">
            <div class="col-8">
              <h4 class="hycare-title margint"><strong>HT 101 – BOLTING BASICS</strong></h4>
            </div>
            <div class="table-responsive">
              <table class="table mb-2 margint">
                <tbody>
                  <tr>
                    <td>Duration</td>
                    <td>2 hours</td>
                    <td>Course Topics</td>
                  </tr>
                  <tr>
                    <td>Class Size</td>
                    <td>No limit</td>
                    <td>Introduction to HYTORC and HBI</td>
                    <td>Pressurized joints</td>
                  </tr>
                  <tr>
                    <td>Certificate</td>
                    <td>HBI Training Card</td>
                    <td>Bolt properties</td>
                    <td>Parallel joint closure</td>
                  </tr>
                  <tr>
                    <td>Instructor</td>
                    <td>HYTORC Sales Rep. or HBI Instructor</td>
                    <td>Tightening w/ torque</td>
                    <td>Power torque technology</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td>Customer Facility</td>
                    <td>Reaction forces</td>
                    <td>Safety</td>
                  </tr>
                  <tr>
                    <td>Equipment</td>
                    <td>HYTORC Tools</td>
                    <td>Friction & lubrication</td>
                    <td>Bolting demonstration</td>
                  </tr>
                  <tr>
                    <td>Audience</td>
                    <td colspan="3">Anyone interested in an overview of bolting principles, practice and technology</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mb-4">
    <div class="row card justify-content-center md-4 box-shadow">
      <div class="col-lg-12 col-lg-12">
        <div class="card-body p-0">
          <div class="row justify-content-center">
            <div class="col-8">
              <h4 class="hycare-title margint"><strong>HT 102 – BASIC OPERATION AND SAFETY SCHOOL (BOSS)</strong></h4>
            </div>
            <div class="table-responsive">
              <table class="table mb-2 margint">
                <tbody>
                  <tr>
                    <td>Duration</td>
                    <td>2-4 hours</td>
                    <td class="course-topics">Course Topics</td>
                  </tr>
                  <tr>
                    <td>Class Size</td>
                    <td >5-10 at a time (typical)</td>
                    <td>HYTORC provides product training for each new delivery of equipment. 
                      This BOSS course provides customers with an orientation on the new equipment and ensures 
                      that everyone who will use the equipment gets hands-on training under experienced supervision.</td>
                  </tr>
                  <tr>
                    <td>Certificate</td>
                    <td colspan="3">HBI Training Card</td>
                  </tr>
                  <tr>
                    <td>Instructor</td>
                    <td colspan="3">HYTORC Sales Rep. or HBI Instructor</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td colspan="3">Customer Facility</td>
                  </tr>
                  <tr>
                    <td>Equipment</td>
                    <td colspan="3">HYTORC Tools</td>
                  </tr>
                  <tr>
                    <td>Audience</td>
                    <td colspan="3">Anyone interested in an overview of bolting principles, practice and technology</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>