<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <img src="/images/chad.jpg" alt="Chad Dunn" class="marginb bio-pic" style="border-radius: 50%;">
            <h1>Chad Dunn</h1>
            <p class="lead text-muted">
                Area Manager - Nevada
            </p>
        </div>
    </section>
</div>
