<!--job title-->
<div class="row margint">
    <div class="col-12 mb-4">
        <h4>
            Hytorc Service Center Branch Manager
        </h4>
    </div>
</div>
<!--end job title-->

<!--contact picture-->
<div class="row">
    <div class="col-12 mb-4">
        <a href="/ronda-dimzoff">
            <img class="contact-pic" src="/images/ronda.jpg" alt="Ronda Dimzoff">
        </a>
    </div>
</div>
<!--end contact picture-->

<!--name-->
<div class="row">
    <div class="col-12 mb-4">
        <a href="/ronda-dimzoff" class="dark-dec">
            <h4>
                Ronda Dimzoff
            </h4>
        </a>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <hr>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</div>
<!--end name-->

<!--contact info-->
<div class="row">
    <div class="col-12 mb-2 mx-1">
        <h6>
            Address: 3772 Puritan Way unit #12 Fredrick, <br> Colorado 80516
        </h6>
    </div>

    <div class="col-12 mb-2">
        <h6>
            Cell: 303-681-5219
        </h6>
    </div>

    <div class="col-12 mb-2">
        <h6>
            Office: 303-833-0434
        </h6>
    </div>

    <div class="col-12 mb-4 mb-2">
        <h6>
            Fax: 801-763-8892
        </h6>
    </div>

    <!--email-->
    <div class="col-12 mb-2">
        <h5>
            Email:
        </h5>
    </div>
    
    <!--email address-->
    <div class="col-12 mb-4">
        <a href="mailto:rdimzoff@hytorc.com">rdimzoff@hytorc.com</a>
    </div>
    <!--end email address-->
    
    <!--end email-->
</div>
<!--end contact info-->