<!--job title-->
<div class="row margint">
    <div class="col-12 mb-4">
        <h4>
            Inside Sales Representative
        </h4>
    </div>
</div>
<!--end job title-->

<!--contact picture-->
<div class="row">
    <div class="col-12 mb-4">
        <a href="/katelyn-kerby">
            <img class="contact-pic" src="/images/katelyn.jpg" alt="Katelyn Kerby">
        </a>
    </div>
</div>
<!--end contact picture-->

<!--name-->
<div class="row">
    <div class="col-12 mb-4">
        <a href="/katelyn-kerby" class="dark-dec">
            <h4>
                Katelyn Kerby
            </h4>
        </a>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <hr>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</div>
<!--end name-->

<!--contact info-->
<div class="row">
    <div class="col-12 mb-2">
        <h6>
            Address: 9815 N 6180 W Highland, Utah 84003
        </h6>
    </div>

    <div class="col-12 mb-2">
        <h6>
            Cell: 
        </h6>
    </div>

    <div class="col-12 mb-2">
        <h6>
            Office: 801-765-1634
        </h6>
    </div>

    <div class="col-12 mb-4">
        <h6>
            Fax: 801-763-8892
        </h6>
    </div>

    <!--email-->
    <div class="col-12 mb-2">
        <h5>
            Email:
        </h5>
    </div>
    
    <!--email address-->
    <div class="col-12 mb-4">
        <a href="mailto:katelyn@hytorcrockymountain.com">katelyn@hytorcrockymountain.com</a>
    </div>
    <!--end email address-->
    <!--email address-->
    <div class="col-12 mb-4">
        <a href="mailto:katelyn@hytorcrm.com">katelyn@hytorcrm.com</a>
    </div>
    <!--end email address-->
    
    <!--end email-->
</div>
<!--end contact info-->