<!--job title-->
<div class="row margint">
    <div class="col-12 mb-4">
        <h4>
            Territory Manager
        </h4>
    </div>
</div>
<!--end job title-->

<!--contact picture-->
<div class="row">
    <div class="col-12 mb-4">
        <a href="/randy-smith">
            <img class="contact-pic" src="/images/randy.jpg" alt="Randy Smith">
        </a>
    </div>
</div>
<!--end contact picture-->

<!--name-->
<div class="row">
    <div class="col-12 mb-4">
        <a href="/randy-smith" class="dark-dec">
            <h4>
                Randy Smith
            </h4>
        </a>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <hr>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</div>
<!--end name-->

<!--contact info-->
<div class="row">
    <div class="col-12 mb-2">
        <h6>
            Address: 9815 N 6180 W Highland, Utah 84003
        </h6>
    </div>

    <div class="col-12 mb-2">
        <h6>
            Cell: 801-368-6987
        </h6>
    </div>

    <div class="col-12 mb-2">
        <h6>
            Office: 801-765-1634
        </h6>
    </div>

    <div class="col-12 mb-4 mb-2">
        <h6>
            Fax: 801-763-8892
        </h6>
    </div>

    <!--email-->
    <div class="col-12 mb-2">
        <h5>
            Email:
        </h5>
    </div>
    
    <!--email address-->
    <div class="col-12 mb-4">
        <a href="mailto:randy@hytorcrockymountain.com">randy@hytorcrockymountain.com</a>
    </div>
    <!--end email address-->
    <!--email address-->
    <div class="col-12 mb-4">
        <a href="mailto:randy@hytorcrm.com">randy@hytorcrm.com</a>
    </div>
    <!--end email address-->
    <!--email address-->
    <div class="col-12 mb-4">
        <a href="mailto:randysmith@hytorc.com">randysmith@hytorc.com</a>
    </div>
    <!--end email address-->
    
    <!--end email-->
</div>
<!--end contact info-->