<!--page container-->
<div class="container">
    <!--Lead Jumbotron-->
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us</h1>

            <p class="lead text-muted">
                Our sales representatives can help you with any of our Hytorc products or give you personal bolting consultations to help with your specific needs, no job is too small or too large!
            </p>
            <hr>
            
        </div>
    </section>
    <!--End Lead Jumbotron-->

    <!--Contact Us Form-->
    <div class="container">
        <div class="row align-items-center justify-content-center mb-4">
            <section class="col-12 card">
                <div class="row container-fluid">
                    <div class="col-12 mb-4">
            
                        {{- partial "contact-us-form.html" . -}}
            
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--End Contact Us Form-->

    <!-- Teams -->
    <div class="">
        <!--new contact row-->
        <div class="row justify-content-md-center">
            <!--Utah Team-->
            <div class="col-xl-6 col-lg-12 mb-4">
                <div class="view d-flex align-items-center justify-content-center utah-team drop-shadow lg-height">
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong">
                        <div>
                            <h2 class="card-title py-3 font-weight-bold ">
                            <strong>
                                <a class="text-white" href="/contact-us-utah">Utah Division</a>
                            </strong>
                            </h2>
                            <a class="btn btn-outline-danger text-white" href="/contact-us-utah">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Utah Team-->

            <!--Colorado Team-->
            <div class="col-xl-6 col-lg-12 mb-4">
                <div class="view d-flex align-items-center justify-content-center colorado-team drop-shadow lg-height">
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong">
                        <div>
                            <h2 class="card-title py-3 font-weight-bold">
                            <strong>
                                <a class="text-white" href="/contact-us-colorado">Colorado Division</a>
                            </strong>
                            </h2>
                            <a class="btn btn-outline-danger text-white" href="/contact-us-colorado">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div> 
            <!--End Colorado Team-->
        </div> 
        <!--end contact row-->

        <!--new contact row-->
        <div class="row">
            <div class="col-xl-3 col-lg-0 col-0">
            </div>
            <div class="col-xl-6 col-lg-12 mb-4">
                <!--Nevada Team-->
                <div class="view d-flex align-items-center justify-content-center nevada-team drop-shadow lg-height">
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong">
                        <div>
                            <h2 class="card-title py-3 font-weight-bold">
                            <strong>
                                <a class="text-white" href="/contact-us-nevada">Nevada Division</a>
                            </strong>
                            </h2>
                            <a class="btn btn-outline-danger text-white" href="/contact-us-nevada">Contact Us</a>
                        </div>
                    </div>
                </div>
                <!--End Nevada Team-->
            </div>
            <div class="col-xl-3 col-lg-0 col-0">
            </div>
        </div>
        <!--end contact row-->
    </div>
    <!--End Teams -->
            
    <!--contact card container-->
    <div class="container mb-4">

        <!--new contact card-->
        <div class="row card">

            <!--contact card title-->
            <div class="row">
                <div class="col-12 t mb-4">
                    <h3 class="text-center margint">
                        Representatives
                    </h3>
                    <hr>
                </div>
            </div>
            <!--end contact card title-->
            
            <!--row of two contacts-->
            <div class="row justify-content-center">
                <!--next rep-->
                <div class="col-xl-6 margint">
                    {{- partial "contact-randy.html" . -}}
                </div>
                <!--end rep-->

                <!--next rep-->
                <div class="col-xl-6 margint">
                    {{- partial "contact-tyler.html" . -}}
                </div>
                <!--end rep-->
                
            </div>
            <!--end row of two contacts-->

            <!--row of two contacts-->
            <div class="row justify-content-center">
                <!--next rep-->
                <div class="col-xl-6 margint">
                    {{- partial "contact-ronda.html" . -}}
                </div>
                <!--end rep-->
                
                <!--next rep-->
                <div class="col-xl-6 margint">
                    {{- partial "contact-denny.html" . -}}
                </div>
                <!--end rep-->
    
            </div>
            <!--end row of two contacts-->

            <!--row of two contacts-->
            <div class="row justify-content-center">

                <!--next rep-->
                <div class="col-xl-6 margint">
                    {{- partial "contact-robert.html" . -}}
                </div>
                <!--end rep-->

                <!--next rep-->
                <div class="col-xl-6 margint">
                    {{- partial "contact-chad.html" . -}}
                </div>
                <!--end rep-->

            </div>
            <!--end row of two contacts-->

        </div>
        <!--end contact card-->

    </div>
    <!--end contact card container-->

    <!--contact card container-->
    <div class="container mb-4">

        <!--new contact card-->
        <div class="row card margint">

            <!--contact card title-->
            <div class="row">
                <div class="col-12 t mb-4">
                    <h3 class="text-center margint">
                        Inside Sales
                    </h3>
                    <hr>
                </div>
            </div>
            <!--end contact card title-->
            
            <!--row of two contacts-->
            <div class="row justify-content-center">
                <!--next rep-->
                <div class="col-xl-6 margint">
                    {{- partial "contact-katelyn.html" . -}}
                </div>
                <!--end rep-->

                <!--next rep-->
                <div class="col-xl-6 margint">
                    {{- partial "contact-kelly.html" . -}}
                </div>
                <!--end rep-->

            </div>
            <!--end row of two contacts-->

            

        </div>
        <!--end contact card-->

    </div>
    <!--end contact card container-->
</div>
<!--end of page container-->


