<!--page container-->
<div class="container">
    <!--Lead Jumbotron-->
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us</h1>

            <p class="lead text-muted">
                Our sales representatives can help you with any of our Hytorc products or give you 
                personal bolting consultations to help with your specific needs, no job is too small 
                or too large!
            </p>
            <hr>
            
        </div>
    </section>
    <!--End Lead Jumbotron-->

    <!--Contact Us Form-->
    <div class="container">
        <div class="row align-items-center justify-content-center mb-4">
            <section class="col-12 card">
                <div class="row container-fluid">
                    <div class="col-12 mb-4">
            
                        {{- partial "contact-us-form-nevada.html" . -}}
            
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--End Contact Us Form-->
            
    <!--contact card container-->
    <div class="container mb-4">

        <!--new contact card-->
        <div class="row card">

            <!--contact card title-->
            <div class="row">
                <div class="col-12 t mb-4">
                    <h3 class="text-center margint">
                        Representatives
                    </h3>
                    <hr>
                </div>
            </div>
            <!--end contact card title-->
            
            <!--row of two contacts-->
            <div class="row justify-content-center">
                <!--next rep-->
                <div class="col-xl-6 margint">
                    {{- partial "contact-randy.html" . -}}
                </div>
                <!--end rep-->

                <!--next rep-->
                <div class="col-xl-6 margint">     
                    {{- partial "contact-tyler.html" . -}}  
                </div>
                <!--end rep-->

            </div>
            <!--end row of two contacts-->
            <!--row of two contacts-->
            <div class="row justify-content-center">
                <!--next rep-->
                <div class="col-xl-6 margint">           
                    {{- partial "contact-chad.html" . -}}
                </div>
                <!--end rep-->
            </div>
            <!--end row of two contacts-->

            <!--row of two contacts-->
            <div class="row justify-content-center">

                

            </div>
            <!--end row of two contacts-->

        </div>
        <!--end contact card-->

    </div>
    <!--end contact card container-->

</div>
<!--end of page container-->