<form action="https://formspree.io/xqkyanwv" method="POST">
    <h4 class="margint">Your Name:</h4>
    <input type="text" pattern="[A-Za-z -]{1,}" oninvalid="checkValidity('Please enter your name (a-z spaces and - are allowed)')" name="name" id="name-input" placeholder="Enter name here…" class="form-control form-feild" required/><br/>
    <h4>Phone Number:</h4>
    <div class="row justify-content-center">
        <div class="col-3 no-pad phone-3">
            <input type="tel" maxlength="3" id="phone" name="phone" pattern="[0-9]{3}" oninvalid="checkValidity('Please enter a valid phone number')" placeholder="" class="form-control form-feild" required/>
        </div>
        <div>
            <p class="dash">
                -
            </p>
        </div>
        <div class="col-3 no-pad phone-3">
            <input type="tel" maxlength="3" id="phone" name="phone" pattern="[0-9]{3}" oninvalid="checkValidity('Please enter a valid phone number')" placeholder="" class="form-control form-feild" required/>
        </div>
        <div>
            <p class="dash">
                -
            </p>
        </div>
        <div class="col-4 no-pad mb-4 phone-4">
            <input type="tel" maxlength="4" id="phone" name="phone" pattern="[0-9]{4}" oninvalid="checkValidity('Please enter a valid phone number')" placeholder="" class="form-control form-feild" required/>
        </div>
    </div>
    <div class="input-group">
        <div class="fixed-height">
            <a class="btn btn-secondary dropdown-toggle dropdown-toggle-split fixed-height" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 5%;">
            </a>
            <div class="dropdown-menu dark">
                <a class="dropdown-item text-white dark-item"><strong>Denny Dimzoff</strong></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white dark-item"><strong>Ronda Dimzoff</strong></a>
                <div class="dropdown-divider"></div>            
                <a class="dropdown-item text-white dark-item"><strong>Robert McManus</strong></a> 
                <div class="dropdown-divider"></div>          
                <a class="dropdown-item text-white dark-item"><strong>Randy Smith</strong></a>
            </div>
        </div>
        <input type="email" pattern="[a-z]"  id="email-input" name="Representative To Contact" class="form-control form-feild" value="Randy Smith" readonly/><br/>
    </div>
    <h4 class="margint">How can we help you?</h4>
    <textarea id="description-input" rows="3" value="Enter your message…" class="form-control" minlength="5" maxlength="500" required></textarea><br/>
    <textarea id="description-input-formatted" name="message"class="form-control hidden" readonly></textarea><br/>
    <div class="row mb-2 text-left justify-content-end">
        <div class="col-1 text-right">
            <input type="checkbox" name="legal acknowledgement" class="" oninvalid="('Please enter a valid phone number')" required>
        </div>
        <div class="col-10">
            <label for="legal acknowledgement">
                <h5 class="">
                    I also acknowledge that this form 
                    generates a standard unencrypted email that may be viewed by 3rd parties and I certify that 
                    I have not included sensitive personal information (social security numbers, banking information, credit card numbers, forms of payment, etc.)
                </h5>
            </label>
        </div>
        <div class="col-1"></div>
    </div>
    <br>
    <button id="submit-form" type="submit" class="btn btn-secondary">Submit</button>
</form>

<script>
    /* Gets the drop box value and updates the text field */
    $(".dropdown-menu a ").click(function() {
      let ChosenEmail = $(this).text();
          document.getElementById("email-input").value = ChosenEmail;
    });
</script>
  