<!--job title-->
<div class="row margint">
    <div class="col-12 mb-4">
        <h4>
            Area Manager
        </h4>
    </div>
</div>
<!--end job title-->

<!--contact picture-->
<div class="row">
    <div class="col-12 mb-4">
        <a href="/denny-dimzoff">
            <img class="contact-pic" src="/images/denny.jpg" alt="Denny Dimzoff">
        </a>
    </div>
</div>
<!--end contact picture-->

<!--name-->
<div class="row">
    <div class="col-12 mb-4">
        <a href="/denny-dimzoff" class="dark-dec">
            <h4>
                Denny Dimzoff
            </h4>
        </a>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <hr>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</div>
<!--end name-->

<!--contact info-->
<div class="row">
    <div class="col-12 mb-2">
        <h6>
            Address: 8089 Morning Harvest Dr. Frederick, CO 80504
        </h6>
    </div>

    <div class="col-12 mb-2">
        <h6>
            Cell: 303-249-7506
        </h6>
    </div>

    <div class="col-12 mb-2">
        <h6>
            Office: 801-765-1634
        </h6>
    </div>

    <div class="col-12 mb-4">
        <h6>
            Fax: 801-763-8892
        </h6>
    </div>

    <!--email-->
    <div class="col-12 mb-2">
        <h5>
            Email:
        </h5>
    </div>
    
    <!--email address-->
    <div class="col-12 mb-4">
        <a href="mailto:denny@hytorcrockymountain.com">denny@hytorcrockymountain.com</a>
    </div>
    <!--end email address-->
    <!--email address-->
    <div class="col-12 mb-4">
        <a href="mailto:denny@hytorcrm.com">denny@hytorcrm.com</a>
    </div>
    <!--end email address-->
    
    <!--end email-->
</div>
<!--end contact info-->