<section class="jumbotron text-center">
<div class="container">
    <h1>Hytorc Custom Engineering</h1>
    <p class="lead text-muted">With 50 years of experience dedicated to industrial bolting, 
        we have solved almost every bolting challenge imaginable. 
        Let our engineering team show you the possibilities.</p>
    <p>
    <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
    </p>
</div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-4 mb-4 ">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h4 class="text-left"><strong>Hytorc Service</strong></h4>
                    <hr class="hycare-hr">
                    <h6 class="text-left double-spaced">
                        <h6 class="text-left">
                            Hytorc Offers:
                        </h6>
                        <ul class="text-left">
                            <li>
                                Free engineering consultations.
                            </li>
                            <li>
                                Expert determined most efficient solution for your bolting challenges.
                            </li>
                            <li>
                                Custom solutions and products to fit your job.
                            </li>
                            <li>
                                All of our custom equipment is thoroughly quality tested under load.
                            </li>
                        </ul>
                    </h6>

                    <h4 class="text-left"><strong>Hytorc Engineering</strong></h4>
                    <hr class="hycare-hr">
                    <h6 class="text-left double-spaced">
                        For the highest level of productivity improvement, HYTORC offers 
                        free engineering consultation to propose the most efficient solution 
                        for your bolting challenges. After an on-site survey with application 
                        measurements or shared CAD files, our engineering team will design a 
                        solution custom fit for your job. Upon completion of design, an FEA 
                        analysis and other computer-assisted stress testing will ensure durability 
                        and longevity of the solution, and a 3D printed mock-up will be created to 
                        test fitment and operation. Once the design is perfected, the final product 
                        will be tested thoroughly 
                        under load to assure safe and efficient operation on the job.
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-12 custom-engineering">

        </div>
    </div>
</div>

