<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <img src="/images/profile-placeholder.jpg" alt="Denny Dimzoff" class="marginb bio-pic" style="border-radius: 50%;">
            <h1>Denny Dimzoff</h1>
            <p class="lead text-muted">
                Inside Sales Representative
            </p>
        </div>
    </section>
</div>
