<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <img src="/images/duane-allendorf.jpg" alt="Duane Allendore" class="marginb bio-pic" style="border-radius: 50%;">
            <h1>Duane Allendorf</h1>
            <p class="lead text-muted">
                Area Manager- Colorado Front Range
            </p>
        </div>
    </section>
</div>

<!--card container-->
<div class="container">
    <div class="card mb-4">
        <!--favorite product-->
        <div class="row margint">
            <h4 class="col-12">
                Favorite Hytorc Product            
            </h4>
            <div class="col-12">
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <hr>
                    </div>
                    <div class="col-4">
    
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="stealth-1 bio-tool">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h6 class="margint double-spaced">
                    I find that our Stealth line of tools are my preferred tool. <br>
                    They are very versatile for various applications and offer the ability to get into tight places.
                </h6>
            </div>
            <div class="col-1"></div>
        </div>
        <!--end of favorite product-->
        
        <div class="container mb-4 margint">
            <hr>
        </div>

        <!--School or other accomplishments-->
        <div class="row">
            <div class="col-12">
                <h4>
                    My Hytorc Career
                </h4>

                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <hr>
                    </div>
                    <div class="col-4">

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h6 class="double-spaced mx-4">
                            My name is Duane Allendorf.  I started my HYTORC career in November 2013 as the Colorado area representative.  
                HYTORC has allowed me to learn about many different industries, including oil & gas, wind, transportation and construction.  
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <!--end of School or other accomplishments-->

        <div class="container mb-4 margint">
            <hr>
        </div>

        <!--Where are you from-->
        <div class="row">
            <div class="col-12">
                <h4>
                    Hobbies and Family
                </h4>
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <hr>
                    </div>
                    <div class="col-4">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h6 class="double-spaced mx-4">
                    Outside of HYTORC, I enjoy spending time at the dragstrip with my wife and our son.  We all three race April through October at a 
                couple different tracks in Colorado.  
                We also enjoy spending time together maintaining our property in Wiggins, Colorado or working in the shop getting everything ready for the track.

                </h6>
            </div>
        </div>
        <!--End Where are you from-->

        <div class="container mb-4 margint">
            <hr>
        </div>


        <!--Why Hytorc-->
        <div class="row">
            <div class="col-12">
                <h4>
                    Why did I choose Hytorc?
                </h4>
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <hr>
                    </div>
                    <div class="col-4">

                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <h6 class="double-spaced mx-4">
                    I enjoy being able to help my customers find the best solution for their specific application.  
                I believe my honesty and integrity are my best assets to offer my customers while trying to find that best solution.
                    I give all glory to God for bringing me the opportunity to join and grow with the HYTORC Rocky Mountain team and look forward to 
                connecting with new customers and assisting in their application needs.
                </h6>
            </div>
        </div>
        <!--End Why Hytorc-->

    </div>
</div>
<!--end of card container-->