<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>
            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>

    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th class="align-middle" scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th scope="col">
                    <h2 class="text-center">
                        Eco Line Sockets
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Accessories
                    </h3>
                    <h6 class="text-left">
                        The new coating, Eco Line, has been developed with the aim to protect the environment through an environmentally 
                        friendly manufacturing process, but also to help our clients worldwide to respond to new environmental targets.
                    </h6>
                    <hr>
                    <h3>
                        ISO Standards
                    </h3>
                    <h6 class="text-left">
                        Until today, black oxide has been the 
                        most common coating used on impact sockets because paint or chromium is not approved by ISO standards. 
                        Years of research and testing has proved that ECO LINE, with its light silver hue meets or exceeds all the performance characteristics of previous products.
                    </h6>
                    <hr>
                    <h3>
                        Advantages
                    </h3>
                    <h6 class="text-left">
                        Additionally, the new socket coating has other advantages. For example, 
                        improved observation of the socket rotation and code stamping while being used by the operator in cramped and poorly lit surroundings.
                    </h6>
            </div>

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
            <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                        <img src="/images/eco-line-show-1.png" alt="JETPRO S" class="carousel-img">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                        <img src="/images/eco-line-show-2.png" alt="JETPRO S" class="carousel-img">
                        </div>
                        <!--/Second slide-->
                        <!--Third slide-->
                        <div class="carousel-item">
                        <img src="/images/eco-line-show-3.png" alt="JETPRO S" class="carousel-img">
                        </div>
                        <!--/Third slide-->
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <!--end of image carousel-->
        </section>
        <!--end of card style-->
    </div>
</div>