<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>

            <!--View Products cut sheets drop down-->
            <p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        View Torque Charts
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="no-decoration" href="/images/edge.5.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                EDGE .5
                            </button>
                        </a>    
                        <a class="no-decoration" href="/images/edge2.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                EDGE 2
                            </button>
                        </a>                   
                        <a class="no-decoration" href="/images/edge4.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                EDGE 4
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/edge6.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                EDGE 6
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/edge8.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                EDGE 8
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/edge12.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                EDGE 12
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/edge30.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                EDGE 30
                            </button>
                        </a>
                    </div>
                </div>
            </p>

            <!--Download cut sheet button-->
            <p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download Torque Chart
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <a download class="no-decoration" href="/images/edge.5.pdf">
                            <button class="dropdown-item" type="button">
                                EDGE .5
                            </button>
                        </a>    
                        <a download class="no-decoration" href="/images/edge2.pdf">
                            <button class="dropdown-item" type="button">
                                EDGE 2
                            </button>
                        </a>                   
                        <a download class="no-decoration" href="/images/edge4.pdf">
                            <button class="dropdown-item" type="button">
                                EDGE 4
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/edge6.pdf">
                            <button class="dropdown-item" type="button">
                                EDGE 6
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/edge8.pdf">
                            <button class="dropdown-item" type="button">
                                EDGE 8
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/edge12.pdf">
                            <button class="dropdown-item" type="button">
                                EDGE 12
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/edge30.pdf">
                            <button class="dropdown-item" type="button">
                                EDGE 30
                            </button>
                        </a>
                    </div>
                </div>
            </p>
        </div>
    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        Edge
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Hydraulic Torque Tool
                    </h3>
                    <h6 class="text-left">
                        For general maintenance that requires high torque values and repeatable results, 
                        the EDGE is a workhorse. The straightforward three-moving-part design was created 
                        by HYTORC over 30 years ago and has been consistently improved upon resulting in 
                        the most tried and tested line of hydraulic torque wrenches in the world.
                    </h6>
                </div>
            </div>

            <!--product specs table-->

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Tool Type:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                Hydraulic
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Radius
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                0.82" - 2.79"
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Weight
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                3.30 - 64.70 Lbs
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Torque Range:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                106.00 - 29650.00 ft-lbs
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end of product specs table-->

        <hr>

        <!--Features section-->
        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>Features</h3>
                </div>
            </div>
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 edge-1">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                <div class="row">
                    <div class="col-12 text-left">
                        <h5>
                            Simple Operation
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <h6>
                            The three-moving part design of the EDGE series reduces the number of potential 
                            repairs and keeps operating costs to a minimum.
                        </h6>
                    </div>
                </div>                
            </div>

            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 edge-2">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                Multi-Axis Swivel
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                The multi-axis swivel is used on all HYTORC hydraulic 
                                torque wrenches (with the exception of the ICE series) 
                                for maximum positioning flexibility and safety.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 edge-3">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                Plus-Through Drive
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                For quick and simple directional changes and maximum durability, 
                                the EDGE series features a push through square drive.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>


            <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">
                    <a class="btn btn-secondary my-2 mx-4" href="/images/edge-manual.pdf" target="_blank">View Product Manual</a> 
                </div>
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/edge-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>                      
                </div>
            </div>
            

            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center"> 
                    <a download class="btn btn-secondary my-2 mx-4" href="/images/edge-manual.pdf">Download product Manual</a>                          
                </div>
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/edge-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>   
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->
            

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
        <!--Carousel Wrapper-->
            <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
            <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                    <img src="/images/edge-show-1.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                    <img src="/images/edge-show-2.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                    <img src="/images/edge-show-3.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Third slide-->
                    <!--Fourth slide-->
                    <div class="carousel-item">
                    <img src="/images/edge-show-4.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Fourth slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--end of image carousel-->
    </section>
    <!--end of card style-->
</div>
