<section>
    <main role="main">
  
      <section class="jumbotron text-center">
        <div class="container">
          <h1>Electric</h1>
          <p class="lead text-muted">The ultimate solution for portability and convenience, HYTORC battery-powered bolting systems make
            safe and accurate bolting simpler than ever before.</p>
          <p>
            <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
          </p>
        </div>
      </section>
  
      <div class="album py-5 bg-light">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
                
                <a class="no-decoration" href="/lithium-series">
                  <img class="card-img-top" src="/images/lithium-series.png" alt="Card image cap">
                <div class="card-body">
                  <h4>LITHIUM SERIES</h4>
                  <h6>
                    The LITHIUM SERIES is the ultimate solution for portability and convenience on industrial bolting jobs. 
                    With the world’s first 36-volt industrial battery system, these tools are ready for heavy industrial use. The lightweight design and dual speed capability 
                    make this system the go-to choice for industrial maintenance and production environments worldwide.
                  </h6>
                  <div>
                    <div class="itunes-store">
                      <a href="/lithium-series" class="btn btn-secondary">View Product</a>
                    </div>
                  </div>
                </div>
                </a>

              </div>
            </div>


            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">

                <a class="no-decoration" href="/lithium-series-2">
                  <img class="card-img-top" src="/images/lithum2-series.png" alt="Card image cap">
                <div class="card-body">
                  <h4>LITHIUM SERIES II</h4>
                  <h6>
                    The LITHIUM SERIES II Electric Torque Tool is the next revolution 
                    in bolting technology redesigned from the ground up with expanded functionality, greater durability, and intuitive usability. This lightweight 36 Volt battery powered tool, 
                    with capacity up to 5000 ft-lbs, is the ultimate solution for strength and portability in industrial bolting jobs worldwide.
                  </h6>
                  <div>
                    <div class="itunes-store">
                      <a href="/lithium-series-2" class="btn btn-secondary">View Product</a>
                    </div>
                  </div>
                </div>
                </a>
                


              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">

                <a class="no-decoration" href="/lion-gun">
                  <img class="card-img-top" src="/images/lion-gun.png" alt="Card image cap">
                <div class="card-body">
                  <h4>LION GUN</h4>
                  <h6>
                    The LION GUN is the world’s first affordable precision bolting system with built-in data recording. 
                      Set your desired torque output on the LION GUN display and pull the trigger to get precise, repeatable torque without excessive noise or vibration.
                  </h6>
                  <div>
                    <div class="itunes-store">
                      <a href="/lion-gun" class="btn btn-secondary">View Product</a>
                    </div>
                  </div>
                </div>
                </a>

              </div>
            </div>
          </div>
  
  </section>
  