<div>
    <p style="float: left;"><img src="/images/lenny-face.png" class="employe-img-contact" border="1px"></p>
    <p class="contact-us-employ-info">Name: Randy Smith</p>
    <p class="contact-us-employ-info">Email: testemailhytorc@gmail.com</p>
</div>