<section class="jumbotron text-center">
    <div class="container">
        <h1>Sorry</h1>
        <p class="lead text-muted">
            It looks like something went wrong on our end <br>
            click the button below to return to the main page
        </p>

        <!--contact us button-->
        <p>
            <a href="/" class="btn btn-secondary my-2">Main Page</a>
        </p>

        <!--View Products cut sheets drop down-->
        
    </div>
</section>
<!--end of jumbotron header-->
