<!--jumbotron header-->
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="mb-4">HYTORC ROCKY MOUNTAIN Upcomming Events</h1>
        <p class="lead text-muted">
            Come visit us at our public trade shows and events to see new Hytorc products unveiled and 
            live demonstrations of our industry leading torque wrenches!
        </p>
    </div>
</section>
<!--end of jumbotron header-->

<div>
    <div class="container"> 
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-12 col-md-12 mb-4">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="m-4">
                                <img class="w-100 rounded" src="/images/expo.jpg" alt="Card image cap">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <h5 class="card-title mt-4 mb-custom">HYTORC ROCKY MOUNTAIN Upcoming Events</h5>
                            
                            <div class="mt-4">
                                <a class="btn btn-disabled btn-bottom mb-3">Coming Soon</a>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
            <!--Grid column-->
        </div>
    </div>
</div>

<div class="hidden">
    <!--Template-->
    <!--Events-->
    <!--New Event-->
    <section class="">
        <div class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="mb-2">
                            <h2 class="margint">
                                Hytorc Las Vegas Expo
                            </h2>
                        </div>
                        <div class="">
                            <p class="lead">
                                Tuesday August 20, 2019 from 9am to 5pm
                            </p>
                        </div>
                        <div class="">
                            <p class="lead">
                                Come see us in Las Vegas where we will show you the new Avanti 130!
                            </p>
                        </div>

                        <!--image carousel-->
                        <div class="container margint mb-4">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <div class="container-fluid mb-3">
                                        <!--Carousel Wrapper-->
                                        <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                                        <!--Indicators-->
                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                            </ol>
                                            <!--/.Indicators-->
                                            <!--Slides-->
                                            <div class="carousel-inner" role="listbox">
                                                <!--First slide-->
                                                <div class="carousel-item active">
                                                <img src="/images/expo-avainti-130.jpg" alt="HY-TWIN 230" class="carousel-img">
                                                </div>
                                                <!--/First slide-->
                                            </div>
                                            <!--/.Slides-->
                                            <!--Controls-->
                                            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                            <!--/.Controls-->
                                        </div>
                                        <!--/.Carousel Wrapper-->
                                    </div>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <!--end of image carousel-->

                        <!--Address-->
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <h5>We will be presenting at booth #C20677 at the Las Vegas Convention Center</h5>
                                <h5>3150 Paradise Rd, Las Vegas, NV 89109</h5>
                                <h5>Tuesday August 20, 2019 from 9am to 5pm</h5>
                            </div>
                            <div class="col-3"></div>
                        </div>
                        <!--End Address-->

                        <!--Time Table-->
                        <div class="row mb-4">
                            <div class="col-2"></div>
                            <div class="col-8 card">
                                <h3 class="mb-1 margint">Event Timetable</h3>
                                <hr>
                                <table style="width: 100%;" class="">
                                    <tr>
                                        <th style="width: 40%;" class="text-muted text-right"></th>
                                        <th style="width: 10%;"></th>
                                        <th style="width: 50%;" class="text-muted text-left"></th>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><h5>9am</h5></td>
                                        <td></td>
                                        <td><h5 class="text-left">Presentation of Lion Gun</h5></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><h5>10am</h5></td>
                                        <td></td>
                                        <td><h5 class="text-left">Refreshments</h5></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><h5>11am</h5></td>
                                        <td></td>
                                        <td><h5 class="text-left">Presentation of Avatni 130</h5></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><h5>12pm</h5></td>
                                        <td></td>
                                        <td><h5 class="text-left">Video Product Tour</h5></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><h5>2pm</h5></td>
                                        <td></td>
                                        <td><h5 class="text-left">Yoga</h5></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><h5>4pm</h5></td>
                                        <td></td>
                                        <td><h5 class="text-left">Free Swag</h5></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><h5>5pm</h5></td>
                                        <td></td>
                                        <td><h5 class="text-left">Indoor Fireworks Show</h5></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <!--End Time Table-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End of New Event-->
    <!--End of Events-->
<!--End Template-->
</div>

<style scoped>
.mb-custom {
    margin-bottom: 7rem;
}
</style>