<section>
    
    <div class="container-fluid align-items-center justify-content-center">
        <!-- Grid row -->
        <div class="row align-items-center justify-content-center">
            <!--Grid column-->
            <div class="col-12 align-items-center justify-content-center large-width">
                <div class="page-header">
                    <h1>
                        Upcoming Events
                    </h1>
                </div>
                <hr>
                <!-- Grid row -->
                <div class="row mx-1">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                        <div class="card card-block">
                            <img class="card-img-top-software mx-auto d-block margin-top" src="/images/expo.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">HYTORC ROCKY MOUNTAIN Upcoming Events</h5>
                                <p class="card-text marginb">
                                    Come visit us at our public trade shows and events to see new Hytorc products unveiled and live
                                    demonstrations of our industry leading torque wrenches!
                                </p>
                                <a href="/events" class="btn btn-secondary btn-bottom">Trade Shows</a>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                        <div class="card card-block">
                            <img class="card-img-top-software mx-auto d-block margin-top mb-5" src="/images/webinar-banner.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">HYTORC Webinar</h5>
                                <p class="card-text marginb">Learn about industry standards and best practices with our webinar series.</p>
                                <a href="https://hytorc.com/webinar" class="btn btn-secondary btn-bottom">View our webinars</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<style scoped>
</style>