<section>
    <main role="main">
  
      <section class="jumbotron text-center">
        <div class="container">
          <h1>Fasteners</h1>
          <p class="lead text-muted">The HYTORC Washer and HYTORC Nut offer uncompromised bolting efficiency, 
              reduce variation in bolt load across the flange for improved accuracy and loosening prevention.</p>
          <p>
            <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
          </p>
        </div>
      </section>
  
      <div class="album py-5 bg-light">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
                
                <a class="no-decoration" href="/hytorc-washer">
                  <img class="card-img-top" src="/images/hytorc-washer.png" alt="Card image cap">
                  <div class="card-body">
                    <h4>HYTORC Washer</h4>
                    <h6>
                      The HYTORC Washer is the simplest upgrade for instant improvements in safety, 
                        speed and accuracy. This unique, patented system eliminates the need for reaction arms and other custom fixtures 
                        required to hold the tool in place. Additionally, the precision machined surface reduces variation in bolt load 
                        across the flange for improved accuracy and loosening prevention.
                    </h6>
                    <div>
                      <div class="itunes-store">
                        <a href="/hytorc-washer" class="btn btn-secondary">View</a>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
                
                <a class="no-decoration" href="/hytorc-j-washer">
                  <img class="card-img-top" src="/images/hytorc-j-washer.png" alt="Card image cap">
                  <div class="card-body">
                    <h4>HYTORC J-Washer</h4>
                    <h6>
                      The new HYTORC J-Washer takes the HYTORC Reaction Washer to an entirely new level by adding a locking 
                        feature that minimizes loosening to keep bolts tight under dynamic loads. With the strategic placement of a ridge band on the surface, 
                        the new reaction washer prevents loosening of pre-loaded fasteners while providing all the benefits 
                        of the traditional HYTORC Reaction Washer including safety, speed and tool longevity.
                    </h6>
                    <div>
                      <div class="itunes-store">
                        <a href="/hytorc-j-washer" class="btn btn-secondary">View</a>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
               
                <a class="no-decoration" href="/hytorc-nut">
                  <img class="card-img-top" src="/images/hytorc-nut.png" alt="Card image cap">
                  <div class="card-body">
                    <h4>HYTORC Nut</h4>
                    <h6>
                      For critical applications requiring the highest level of bolt load control, the patented HYTORC Nut system provides industry-leading joint integrity. 
                        This three-piece fastener applies pure tension to the bolt to prevent thread damage and ensure bolt load accuracy. Available in a variety of materials 
                        to suit all applications, 
                        from extreme temperatures to harsh climates.
                    </h6>
                    <div>
                      <div class="itunes-store">
                        <a href="/hytorc-nut" class="btn btn-secondary">View</a>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>
          </div>
  
  </section>
  