<div>
  <!-- Footer -->
  <footer class="page-footer font-small text-white-50 bg-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 align-top">
          <!-- Map code -->
          <ul class="list-unstyled center-content">
            <li>
              <h5 class="d-flex align-items-center justify-content-center text-uppercase font-weight-bold">Location</h5>
            </li>
            <li class="map_canvas d-flex align-items-center justify-content-center">
              <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1EqNrHnEc1McLy0WJ5MEU3YX3v9JFeYUD" width="300rem" height="300rem"></iframe>
            </li>
            <li>
              <a class="d-flex align-items-center justify-content-center text-white-50" href="https://www.google.com/maps/place/9815+N+6180+W,+Highland,+UT+84003/@40.410037,-111.8089524,17z/data=!3m1!4b1!4m5!3m4
              !1s0x874d80f8364b7665:0xd165e612152af507!8m2!3d40.410037!4d-111.8067637">9815 N 6180 W Highland, UT 84003</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <div class="col-md-6 mb-4 align-top">
          <!-- Links that can be contacted -->
            <ul class="list-unstyled center-content">
                <li>
                    <h5 class="d-flex text-center align-items-center justify-content-center d-flex align-items-start text-uppercase font-weight-bold"><a class="text-white-50" href="/contact-us">Contact Us</a></h5>
                </li>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <hr class="footer-hr">
                    </div>
                    <div class="col-4"></div>
                </div>
                <li>
                    <a class="d-flex text-center align-items-center justify-content-center text-white-50" href="/contact-us-colorado">Colorado Division</a>
                </li>
                <li>
                    <a class="d-flex text-center align-items-center justify-content-center text-white-50" href="/contact-us-nevada">Nevada Division</a>
                </li>
                <li>
                    <a class="d-flex text-center align-items-center justify-content-center text-white-50" href="/contact-us-utah">Utah Division</a>
                </li>
                <li class="margint">
                    <h5 class="d-flex text-center align-items-center justify-content-center text-uppercase font-weight-bold top-pad"><a class="text-white-50" href="/contact-us">Sales</a></h5>
                </li>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <hr class="footer-hr">
                    </div>
                    <div class="col-3"></div>
                </div>
                <li>
                    <a class="d-flex text-center align-items-center justify-content-center text-white-50" href="/randy-smith">Territory Manager: Randy Smith</a>
                </li>
                <li>
                    <a class="d-flex text-center align-items-center justify-content-center text-white-50" href="/robert-mcmanus">Colorado: Robert McManus</a>
                </li>
                <li>
                    <a class="d-flex text-center align-items-center justify-content-center text-white-50" href="/chad-dunn">Nevada: Chad Dunn</a>
                </li>
                <li>
                    <a class="d-flex text-center align-items-center justify-content-center text-white-50" href="/tyler-smith">Utah: Tyler Smith</a>
                </li>
                <li class="mt-4">
                    <a href="/index.html" class="d-flex text-center align-items-center justify-content-center"><img class="logo" src="/images/hytorcrm.png" alt="Hytorc"></a>
                </li>
            </ul>
        </div>

      </div>
      <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © 2020 Copyright Hytorc Rocky Mountain
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>
