<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>
            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>

    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        Hand Pumps
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Hydraulic Hand Pumps
                    </h3>
                    <h6 class="text-left">
                        Hand pumps for tensioning tools are lightweight and mobile by design. With different pressures and capacities available, 
                        Hytorc can provide you with the flexibility you need. Our hand pumps have built in gauges with a unique steel handle that protects 
                        the gauge from impact.
                    </h6>
            </div>

        </section>
        <!--end of features section-->

        <hr>

             <!--image carousel-->
             <div class="container-fluid mb-3">
                <!--Carousel Wrapper-->
                    <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <!--First slide-->
                            <div class="carousel-item active">
                            <img src="/images/hand-pump-show-1.png" alt="Hydraulic Nut" class="carousel-img">
                            </div>
                            <!--/First slide-->
                        <!--/.Slides-->
                    </div>
                    <!--/.Carousel Wrapper-->
                </div>
                <!--end of image carousel-->
            </section>
            <!--end of card style-->
        </div>
    </div>
</div>    
