<header class="page-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/index.html" class="navbar-brand"><img class="logo" src="/images/hytorcrm.png" alt="Hytorc"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">
            <div class="right-padding nav-text">
              <h5>
                <strong>Home</strong>
              </h5>
            </div>
          </a>
        </li>

        <!-- Dropdown menu for products-->
        <li>
          <h4 class="right-padding">
            <div class="dropdown show">
              <a class="btn btn-default nav-link dropdown-toggle nav-text" href="#" role="button" id="dropdownMenuLinkProducts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5>
                  <strong>
                    Products
                  </strong>
                </h5>
              </a>
              <div class="dropdown-menu dark dropdown-menu-left" aria-labelledby="dropdownMenuLinkProducts">
                <div class="black">
                  <a class="dropdown-item text-white dark-item" href="/products"><strong>Bolting</strong></a>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white dark-item" href="/rentals"><strong>Rentals</strong></a>
              </div>
            </div>
          </h4>
        </li>
         
        <li>
          <h4 class="right-padding">
            <div class="dropdown show">
              <a class="btn btn-default nav-link dropdown-toggle nav-text" href="#" role="button" id="dropdownMenuLinkServices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5>
                  <strong>
                    Services
                  </strong>
                </h5>
              </a>
              <div class="dropdown-menu dark dropdown-menu-left" aria-labelledby="dropdownMenuLinkServices">
                <div class="black">
                  <a class="dropdown-item text-white dark-item" href="/custom-engineering"><strong>Custom Engineering</strong></a>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white dark-item" href="/bolting-software"><strong>Bolting Software</strong></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white dark-item" href="/training"><strong>Training</strong></a>
              </div>
            </div>
          </h4>
        </li>

          
        <li>
          <h4 class="right-padding">
            <div class="dropdown show">
              <a class="btn btn-default nav-link dropdown-toggle nav-text" href="#" role="button" id="dropdownMenuLinkMaintenance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5>
                  <strong>
                    Maintenance
                  </strong>
                </h5>
              </a>
              <div class="dropdown-menu dark dropdown-menu-left" aria-labelledby="dropdownMenuLinkMaintenance">
                <div class="black">
                  <a class="dropdown-item text-white dark-item" href="/hycare"><strong>Hycare</strong></a>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white dark-item" href="/maintenance"><strong>General Maintenance</strong></a>
              </div>
            </div>
          </h4>
        </li>
           
           
        <li>
          <h4 class="right-padding">
            <div class="dropdown show">
              <a class="btn btn-default nav-link dropdown-toggle nav-text" href="#" role="button" id="dropdownMenuLinkMaintenance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5>
                  <strong>
                    Contact Us
                  </strong>
                </h5>
              </a>
              <div class="dropdown-menu dark dropdown-menu-left" aria-labelledby="dropdownMenuLinkMaintenance">
                <a class="dropdown-item text-white dark-item" href="/contact-us"><strong>Territory</strong></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white dark-item" href="/contact-us-colorado"><strong>Colorado</strong></a>  
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white dark-item" href="/contact-us-nevada"><strong>Nevada</strong></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white dark-item" href="/contact-us-utah"><strong>Utah</strong></a>          
              </div>
            </div>
          </h4>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  $(document).ready(function(){
      $('.dropdown-submenu a.mdrop').on("click", function(e){
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
</script>

<div class="below-header-spacing">

</div>
