<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>

    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        HY Series
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Hydraulic Tensioning Pumps
                    </h3>
                    <h6 class="text-left">
                        The HY Series of tension pumps are our latest design for the tensioning market. This pump was designed with maintenance technicians in mind. With a smaller footprint, 
                        HY Series tension pumps are nearly 30 pounds lighter than most tension pumps on the market today. These pumps have some of our most advanced features such as a digital 
                        remote and an automatic pressure function. The screen on the remote gives the operator a 
                        readout of the pumps pressure to allow them some flexibility. The automatic feature maintains operating pressure within 30 bar of the target pressure, without having to press a button.
                    </h6>
                </div>
            </div>
        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
            <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                        <img src="/images/hy-series-hydraulic-pumps-show-1.png" alt="Hytorc Washer" class="carousel-img">
                        </div>
                        <!--/First slide-->
                    </div>
                    <!--/.Slides-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <!--end of image carousel-->
        </section>
        <!--end of card style-->
    </div>
    
