<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>
    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        HY-TWIN AIR
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Hydraulic Power Pack
                    </h3>
                    <h6 class="text-left">
                        The HY-TWIN AIR hydraulic pump gives the operator the power they need to utilize 10,000 ft. lb. 
                        Fitted with a five-gallon reservoir this pump will have enough oil to power up to four large tools at once. Don’t worry about portability 
                        because our HY-Twin pumps come with wheel casters that ensure you can roll this pump from application to application giving you the mobility you’ve come to expect when using HYTORC Hydraulic Power Systems.
                    </h6>
                </div>
            </div>

        <hr>

        <!--Features section-->
        <section class="">
            <div class="row align-items-center justify-content-center">
                <div class="col-10">
                    <h3>Features</h3>
                </div>
            </div>
            <div class="row text-left mx-4 mb-4">
                <div class="col-10">
                    <ul>
                        <li>
                            Deadman switch. Remote or Foot Pedal
                        </li>
                        <li>
                            Extended Remotes in sizes from 20’ to 100’
                        </li>
                        <li>
                            Fire Guard for Remotes
                        </li>
                        <li>
                            Quick Connect Fitting/Couplers
                        </li>
                        <li>
                            Hour Meter
                        </li>
                        <li>
                            Different Grade Hydraulic oil (low temp, high temp, bio degrable)
                        </li>
                    </ul>
                </div>
            </div>


            <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">
                  <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      View Safety Manuals
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/images/sds-safety-data-sheet.pdf" target="_blank">SDS - Safety Data Sheets</a> 
                      <a class="dropdown-item" href="/images/material-safety-data-sheet.pdf"  target="_blank">Material Safety Data Sheet for Azolla 2013</a>
                    </div>
                  </div>   
                </div>
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/hy-twin-air-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>             
                </div>
            </div>
            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center"> 
                    <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download Safety Manuals
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a download class="dropdown-item" href="/images/sds-safety-data-sheet.pdf">SDS - Safety Data Sheets</a>
                        <a download class="dropdown-item" href="/images/material-safety-data-sheet.pdf">Material Safety Data Sheet for Azolla 2013</a>
                      </div>
                    </div>                          
                </div>
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/hy-twin-air-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->
            

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
        <!--Carousel Wrapper-->
            <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
            <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                    <img src="/images/hy-twin-air-show-1.jpg" alt="Hy Twin Air" class="carousel-img">
                    </div>
                    <!--/First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                    <img src="/images/hy-twin-air-show-2.jpg" alt="Hy Twin Air" class="carousel-img">
                    </div>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                    <img src="/images/hy-twin-air-show-3.jpg" alt="Hy Twin Air" class="carousel-img">
                    </div>
                    <!--/Third slide-->
                    <!--Fourth slide-->
                    <div class="carousel-item">
                    <img src="/images/hy-twin-air-show-4.jpg" alt="Hy Twin Air" class="carousel-img">
                    </div>
                    <!--/Fourth slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--end of image carousel-->
    </section>
    <!--end of card style-->
</div>
