<section>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
         <h1>Hydraulic</h1>
          <h2 class="jumbotron-heading">Hydraulic Bolting Tools</h2>
          <h6>
            HYTORC offers the latest hydraulic bolting technology with unique patented benefits that provide industry-leading safety and accuracy.
              Offering incredible repeatability, reliability,
              and durability – HYTORC hydraulic bolting systems are the original torque/tension machines.
          </h6>
          <p>
            <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
                
                <a class="no-decoration" href="/ice">
                  <img class="card-img-top" src="/images/ice-bolt.png" alt="Card image cap">
                  <div class="card-body">
                  <h4>Ice</h4>
                    <h6>
                      The ICE Bolting System is the culmination of 50 years of research and development dedicated to industrial bolting.
                        Featuring patented industry-first innovations,
                        the ICE is the most advanced hydraulic bolting system available today.
                    </h6>
                    <div>
                      <div class="itunes-store">
                        <a href="/ice" class="btn btn-secondary">View</a>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                 
                  <a class="no-decoration" href="/avanti">
                    <img class="card-img-top" src="/images/avanti.png" alt="Card image cap">
                    <div class="card-body">
                     <h4>AVANTI</h4>
                      <h6>
                        The AVANTI Bolting System offers the widest range of torque output with a maximum output of more
                          than 130,000 ft-lbs in the largest model. With tens of thousands in use around the world, the AVANTI is the industry’s trusted solution for
                          next-generation bolting.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/avanti" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>
                 
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  
                  <a class="no-decoration" href="/mxt">
                    <img class="card-img-top" src="/images/mxt.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>MXT</h4>
                      <h6>
                        The MXT is the world’s best-selling industrial bolting system with over one hundred thousand in use around the world. Since 1990,
                          the signature blue housing has represented quality, durability, and reliability on job sites in every major industry.
                          From the tallest roller coasters to the world’s largest bridges,
                          the MXT has the power to get the job done.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/mxt" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>
                  
                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                 
                  <a class="no-decoration" href="/edge">
                    <img class="card-img-top" src="/images/edge.png" alt="Card image cap">
                    <div class="card-body">
                     <h4>EDGE</h4>
                      <h6>
                        For general maintenance that requires high torque values and repeatable results,
                          the EDGE is a workhorse. The straightforward three-moving-part design was created by HYTORC over 30 years ago and has been consistently
                          improved upon resulting in the most tried and tested line of hydraulic torque wrenches in the world.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/edge" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  
                  <a class="no-decoration" href="/stealth">
                    <img class="card-img-top" src="/images/stealth.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>STEALTH</h4>
                      <h6>
                        The STEALTH Hydraulic Torque Wrench is the industry’s most advanced limited clearance hydraulic bolting system.
                          The slim design fits where other tools will not and the dual piston power head provides unparalleled speed and power.
                          Also compatible with the HYTORC Washer and HYTORC Nut,
                          the STEALTH Tool can conquer bolting applications from general maintenance to critical pathways
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/stealth" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  
                  <a class="no-decoration" href="/xlct">
                    <img class="card-img-top" src="/images/xlct.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>XLCT</h4>
                      <h6>
                        The XLCT is the world’s best-selling limited clearance industrial bolting s
                          ystem with over one hundred thousand in use around the world. Since 1992, the signature red housing has represented quality,
                          durability, and reliability on job sites in every major industry. From the tallest roller coasters to the world’s largest bridges, the XLCT has the power to get the job done.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/xlct" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow card-font">
                  
                  <a class="no-decoration" href="/versa">
                    <img class="card-img-top" src="/images/versa.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>VERSA</h4>
                      <h6>
                        For general maintenance that requires high torque values and repeatable results, the Versa is a workhorse.
                          The straightforward three-moving-part design was created by HYTORC over 30 years ago and has been consistently improved upon resulting in the most tried and tested line of
                          hydraulic torque wrenches in the world.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/versa" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
          </div>
        </div>
      </div>

</section>
