<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>

    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        Hydraulic Nuts
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Hydraulic Tensioners
                    </h3>
                    <h6 class="text-left">
                        Hydraulic nuts are designed to tighten large diameter bolts without causing the damage that occurs when hammer wrenches are employed. 
                        With the hydraulic nut solutions, customers can tighten large bolts with little to no effort and do so without causing any damage.
                    </h6>
                    <hr>
                    <h3>
                        For the Big Jobs
                    </h3>
                    <h6 class="text-left">
                        OHydraulic nuts allow for fast, effortless tightening of large bolts. Hydraulic nuts have been employed on jobs with threads as wide as 20 inches in diameter.
                    </h6>
                    <hr>
                    <h3>
                        Ideal for Tight Spaces
                    </h3>
                    <h6 class="text-left">
                        Hydraulic nuts are ideal for tight spaces where tools have a tough time fitting. Hydraulic nuts are commonly used on machine feet and press tie rods
                    </h6>
                    <hr>
                    <h3>
                        Solutions for Any Budget, Any Project
                    </h3>
                    <h6 class="text-left">
                        With four styles of hydraulic nuts to choose from, HYTORC can help you to meet your budgetary and project requirements. Most hydraulic nut solutions are made to order, so feel free to give us a call to talk about your next project.
                    </h6>
                </div>
            </div>

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
            <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                        <img src="/images/hydraulic-nuts-show-1.png" alt="Hydraulic Nut" class="carousel-img">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                        <img src="/images/hydraulic-nuts-show-2.png" alt="Hydraulic Nut" class="carousel-img">
                        </div>
                        <!--/Second slide-->
                        <!--Third slide-->
                        <div class="carousel-item">
                        <img src="/images/hydraulic-nuts-show-3.png" alt="Hydraulic Nut" class="carousel-img">
                        </div>
                        <!--/Third slide-->
                        <!--Fourth slide-->
                        <div class="carousel-item">
                        <img src="/images/hydraulic-nuts-show-4.png" alt="Hydraulic Nut" class="carousel-img">
                        </div>
                        <!--/Fourth slide-->
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <!--end of image carousel-->
        </section>
        <!--end of card style-->
    </div>
    
