<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>

    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        HYTORC Washer
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Fasteners
                    </h3>
                    <h6 class="text-left">
                        The HYTORC Washer is the simplest upgrade for instant improvements in safety, 
                        speed and accuracy. This unique, patented system eliminates the need for reaction arms 
                        and other custom fixtures required to hold the tool in place. Additionally, the precision machined surface reduces variation in bolt load across the flange for improved accuracy and loosening prevention.
                    </h6>
                    <hr>
                    <h3>
                        Speed
                    </h3>
                    <h6 class="text-left">
                        The HYTORC Backup Washer eliminates the need for backup wrenches improving the speed and efficiency of the overall bolting operation. 
                        The unique knurl design ensures the backup washer and backup nut will not rotate during tightening.
                    </h6>
                    <hr>
                    <h3>
                        Accuracy
                    </h3>
                    <h6 class="text-left">
                        The HYTORC Washer System provides optimal axial tool alignment resulting in improved repeatability, reduced bolt load scatter and increased accuracy
                    </h6>
                    <hr>
                    <h3>
                        ASTM Organizational Member
                    </h3>
                    <h6 class="text-left">
                        AS an ASTM Organizational member, HYTORC is proud to have been an leading contributor to the new ASTM F3394/F3394 M Standard.
                    </h6>
                    <hr>
                    <h3>
                        ASTM F3394/F3394M Standard Specification for Hardened Washers
                    </h3>
                    <h6 class="text-left">
                        The HYTORC Washer is manufactured in accordance with the requirements in the <a href="https://www.astm.org/Standards/F3394.htm" target="_blank">ASTM F3394/F3394M Standard Specification</a> for Hardened Steel Backup and Reaction Washers. 
                        This standard covers general-purpose mechanical and structural use of washers with bolts, nuts, studs, Direct Tension Indicators and other threaded fasteners.
                    </h6>
                </div>
            </div>

            <hr>

            <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">
                    <a class="btn btn-secondary my-2 mx-4" href="/images/astm-cut-sheet.pdf" target="_blank">View ASTM Cut Sheet</a> 
                </div>
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/hytorc-washer-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>                      
                </div>
            </div>
            
            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center"> 
                    <a download class="btn btn-secondary my-2 mx-4" href="/images/astm-cut-sheet.pdf">Download ASTM Cut Sheet</a>                          
                </div>
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/hytorc-washer-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>   
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->
            

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
            <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                        <img src="/images/hytorc-washer-show-1.png" alt="Hytorc Washer" class="carousel-img">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                        <img src="/images/hytorc-washer-show-2.png" alt="Hytorc Washer" class="carousel-img">
                        </div>
                        <!--/Second slide-->
                        <!--Third slide-->
                        <div class="carousel-item">
                        <img src="/images/hytorc-washer-show-3.png" alt="Hytorc Washer" class="carousel-img">
                        </div>
                        <!--/Third slide-->
                        <!--Fourth slide-->
                        <div class="carousel-item">
                        <img src="/images/hytorc-washer-show-4.png" alt="Hytorc Washer" class="carousel-img">
                        </div>
                        <!--/Fourth slide-->
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <!--end of image carousel-->
        </section>
        <!--end of card style-->
    </div>
    
