<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
            <p>
                <a href="https://hytorc.com/washer-faq" target="blank_" class="btn btn-secondary my-2 mx-4">FAQ</a>
            </p>
        </div>

    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        HYTORC J-Washer
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Fasteners
                    </h3>
                    <h6 class="text-left">
                        The new HYTORC J-Washer takes the HYTORC Reaction Washer to an entirely new level by adding a 
                        locking feature that minimizes loosening to keep bolts tight under dynamic loads. With the strategic placement of a ridge band on the surface, 
                        the new reaction washer prevents loosening of pre-loaded fasteners while providing all the benefits of the traditional HYTORC Reaction Washer including safety, speed and tool longevity.
                    </h6>
                    <hr>
                    <h3>
                        Anti-Loosening
                    </h3>
                    <h6 class="text-left">
                        Standard pre-loaded fasteners can loosen as a result of relative motion between surfaces due to vibration. 
                        The J-Washer’s knurled surface locks the nut when torque is applied so that no loosening occurs. 
                        The locking design has been verified by the industry standard Junkers test, which simulates the transverse forces that loosen the assembly.
                    </h6>
                    <hr>
                    <h3>
                        Safety
                    </h3>
                    <h6 class="text-left">
                        The J-Washer provides outer reaction lobes that safely engage with a socket driver or reaction plate to brace the reaction forces during torque operations. 
                        Consistent with the standard HYTORC Reaction Washer, the new J-Washer eliminates the need for a separate reaction arm, 
                        eliminating pinch points and significantly reducing the risk of hand injury.
                    </h6>
                    <hr>
                    <h3>
                        Efficiency
                    </h3>
                    <h6 class="text-left">
                        The J-Washer's unique design locks the fastener assembly during tightening. When used in combination with a HYTORC Torque Tool, 
                        the J-Washer provides unmatched efficiency in bolting operations and reduced job time.
                    </h6>
                </div>
            </div>

        <hr>

            <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/hytorc-j-washer-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>             
                </div>
            </div>
            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/hytorc-j-washer-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->
            

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
            <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                        <img src="/images/hytorc-j-washer-show-1.png" alt="Hytorc J Washer" class="carousel-img">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                        <img src="/images/hytorc-j-washer-show-2.png" alt="Hytorc J Washer" class="carousel-img">
                        </div>
                        <!--/Second slide-->
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <!--end of image carousel-->
        </section>
        <!--end of card style-->
    </div>
