<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>
            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>

    </section>
<!--end of jumbotron header-->

<section>
    <div class="album py-5">
        <div class="container"> 
    
        <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
            <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/images/hytorc-reaction-fixures-show-1.png" alt="Card image cap">
                    <div class="card-body">
                        <h4>C-Shaped Reaction Arm</h4>
                    </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
            <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/images/hytorc-reaction-fixures-show-2.png" alt="Card image cap">
                    <div class="card-body">
                        <h4>Crab Nut Fixture</h4>
                    </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
            <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/images/hytorc-reaction-fixures-show-3.png" alt="Card image cap">
                    <div class="card-body">
                        <h4>Dual Spline Reaction Fixture</h4>
                    </div>
            </div>
        </div>
    
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
            <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/images/hytorc-reaction-fixures-show-4.png" alt="Card image cap">
                    <div class="card-body">
                        <h4>Rotatable Reaction Arm</h4>
                    </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
            <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/images/hytorc-reaction-fixures-show-5.png" alt="Card image cap">
                    <div class="card-body">
                        <h4>Wheel Gun Extension</h4>
                    </div>
            </div>
        </div>
    
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
            <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/images/hytorc-reaction-fixures-show-6.png" alt="Card image cap">
                    <div class="card-body">
                        <h4>Reaction Arms</h4>
                    </div>
            </div>
        </div>
        </div>
    </div>

</section>