<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>
    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        HYTORC Nut
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section>
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Fasteners
                    </h3>
                    <h6 class="text-left">
                        For critical applications requiring the highest level of bolt load control, the patented HYTORC Nut system provides industry-leading joint integrity. 
                        This three-piece fastener applies pure tension to the bolt to prevent thread damage and ensure bolt load accuracy. 
                        Available in a variety of materials to suit all applications, from extreme temperatures to harsh climates.
                    </h6>
                    <hr>
                    <h3>
                        Tool Longevity
                    </h3>
                    <h6 class="text-left">
                        Other bolting systems put the reaction arm and square drive on opposite sides of the tool causing high stress in the body of the tool, 
                        which can lead to failure over time. The HYTORC Nut puts the action and reaction on the square drive axis to eliminate the majority of internal stress, 
                        and increase the lifetime of your tools.
                    </h6>
                    <hr>
                    <h3>
                        Gall-free Removal
                    </h3>
                    <h6 class="text-left">
                        The HYTORC Nut is the only fastener that can guarantee the elimination of galled or damaged threads on installation and removal. 
                        These fasteners have been installed on various 
                        high temperature applications for ten years and longer, and were removed without damage to the bolts, providing tremendous savings by eliminating the need for bolt replacement.
                    </h6>
                </div>
            </div>

        <hr>

            <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/hytorc-nut-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>             
                </div>
            </div>
            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/hytorc-nut-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->
            

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
            <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                        <img src="/images/hytorc-nut-show-1.png" alt="JETPRO S" class="carousel-img">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                        <img src="/images/hytorc-nut-show-2.png" alt="JETPRO S" class="carousel-img">
                        </div>
                        <!--/Second slide-->
                        <!--Third slide-->
                        <div class="carousel-item">
                        <img src="/images/hytorc-nut-show-3.png" alt="JETPRO S" class="carousel-img">
                        </div>
                        <!--/Third slide-->
                        <!--Fourth slide-->
                        <div class="carousel-item">
                        <img src="/images/hytorc-nut-show-4.png" alt="JETPRO S" class="carousel-img">
                        </div>
                        <!--/Fourth slide-->
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <!--end of image carousel-->
        </section>
        <!--end of card style-->
    </div>
