<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
{{ partial "head.html" .}}
  </head>

  <body>

{{ partial "header.html" .}}

{{ partial "main-page.html" .}}

{{ partial "footer.html" .}}

  </body>
</html>
