<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        jGun DIGITAL
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Pneumatic Torque Tool
                    </h3>
                    <h6 class="text-left">
                        The new JGUN DIGITAL series from HYTORC is the world’s first torque-adjustable pneumatic multiplier with a digital readout and FRL-free operation. 
                        Unlike other systems that require a separate filter, regulator and lubrication system between the air line and the tool, 
                        the patented design of the JGUN DIGITAL eliminates the need for this add-on for the highest level of portability and convenience.
                    </h6>
                </div>
            </div>

            <!--product specs table-->

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Tool Type:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                Pneumatic
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    RPM:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                1.5 - 65.0 RPM
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Weight
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                8.25 - 38.40 Lbs
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Torque Range:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                60 - 7900 ft-lbs
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end of product specs table-->

        <hr>

        <!--Features section-->
        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>Features</h3>
                </div>
            </div>
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 jgun-digital-1">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                <div class="row">
                    <div class="col-12 text-left">
                        <h5>
                            Digital Readout
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <h6>
                            The jGun Digital is the world’s first industrial torque multiplier with a digital readout for instant confirmation of selected torque. 
                            No more pressure-to-torque conversions or calculations. Select between ft-lbs and Nm.
                        </h6>
                    </div>
                </div>                
            </div>

            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 jgun-digital-2">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                Built-in Torque Adjustment
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                The jGun Digital is the first of its kind with an onboard air regulator for simple torque adjustment with a twist of the connector at the bottom of the handle. 
                                Especially convenient when switching from tightening to loosening, 
                                giving you the ability to quickly adjust to full power for fast and easy break-out.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 jgun-digital-3">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                Industrial-Grade Motor
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                The new motor featured in the jGun Digital is a workhorse designed for heavy industrial use. With maximum power to weight and a rugged corrosion resistant design, 
                                this motor eliminates the need for separate air 
                                filters and lubrication systems making the Digital jGun the most portable air powered torque gun on the market
                            </h6>
                        </div>
                    </div>
                </div>
            </div>


            <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">
                    <a class="btn btn-secondary my-2 mx-4" href="/images/jgun-digital-manual.pdf" target="_blank">View Manual</a> 
                </div>
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/jgun-digital-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>                      
                </div>
            </div>
            

            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center"> 
                    <a download class="btn btn-secondary my-2 mx-4" href="/images/jgun-digital-manual.pdf">Download Manual</a>                          
                </div>
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/jgun-digital-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>   
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->
            

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
        <!--Carousel Wrapper-->
            <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
            <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                    <img src="/images/jgun-digital-show-1.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                    <img src="/images/jgun-digital-show-2.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                    <img src="/images/jgun-digital-show-3.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Third slide-->
                    <!--Fourth slide-->
                    <div class="carousel-item">
                    <img src="/images/jgun-digital-show-4.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Fourth slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--end of image carousel-->
    </section>
    <!--end of card style-->
</div>
