<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>

            <!--View Products cut sheets drop down-->
            <p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        View Torque Charts
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="no-decoration" href="/images/jgun-dual-05.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED .5
                            </button>
                        </a>    
                        <a class="no-decoration" href="/images/jgun-dual-1.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED 1
                            </button>
                        </a>                   
                        <a class="no-decoration" href="/images/jgun-dual-2.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED 2
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/jgun-dual-3.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED 3
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/jgun-dual-5.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED 5
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/jgun-dual-8.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED 8
                            </button>
                        </a>
                    </div>
                </div>
            </p>

            <!--Download cut sheet button-->
            <p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download Torque Chart
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <a class="no-decoration" download href="/images/jgun-dual-05.pdf">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED .5
                            </button>
                        </a>
                        <a class="no-decoration" download href="/images/jgun-dual-1.pdf">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED 1
                            </button>
                        </a>
                        <a class="no-decoration" download href="/images/jgun-dual-2.pdf">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED 2
                            </button>
                        </a>
                        <a class="no-decoration" download href="/images/jgun-dual-3.pdf">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED 3
                            </button>
                        </a>
                        <a class="no-decoration" download href="/images/jgun-dual-5.pdf">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED 5
                            </button>
                        </a>
                        <a class="no-decoration" download href="/images/jgun-dual-8.pdf">
                            <button class="dropdown-item" type="button">
                                jGunDualSPEED 8
                            </button>
                        </a>
                    </div>
                </div>
            </p>
        </div>
    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        jGun DUAL SPEED
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Pneumatic Torque Tool
                    </h3>
                    <h6 class="text-left">
                        For fast run down and powerful torque capability, the jGun DUAL SPEED Pneumatic Torque Tool is the industry’s most reliable choice.
                    </h6>
                </div>
            </div>

            <!--product specs table-->

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Tool Type:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                Pneumatic
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    RPM:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                1.5 - 24.0 RPM
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Weight
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                28.75 Lbs.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end of product specs table-->

        <hr>

        <!--Features section-->
        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>Features</h3>
                </div>
            </div>
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 jgun-dual-1">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                <div class="row">
                    <div class="col-12 text-left">
                        <h5>
                            3-in-1 Bolting System
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <h6>
                            The jGun DUAL SPEED Tool is the only pneumatic multiplier that gives you the flexibility to use it for rundown, final torque and heavy duty breakout. 
                            A simple twist of the collar switches the tool from high speed rundown mode into the max power mode 
                            with adjustable torque so you can choose the right output for your job. Select between ft-lbs and Nm.
                        </h6>
                    </div>
                </div>                
            </div>

            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 jgun-dual-2">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                Intuitive Design
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                This robust tool eliminates the need for multiple systems making training simpler and reducing the chance for operator error. 
                                When multiple systems are used to assemble a bolted joint there is more chance for operator error. 
                                The jGun DUAL SPEED Tool makes the job simpler by giving operators one easy to use system that can be used from start to finish.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 jgun-dual-3">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                Wheel Gun Accessory
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                The wheel gun accessory is the obvious choice for wheel bolting and all nuts and bolts in confined spaces. 
                                The powerful extension system delivers the desired torque without compromise to power or durability. 
                                With industry-leading repeatability and intuitive design, job integrity is always assured.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>


            <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">
                    <a class="btn btn-secondary my-2 mx-4" href="/images/jgun-dual-manual.pdf" target="_blank">View Manual</a> 
                </div>
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/jgun-dual-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>                      
                </div>
            </div>
            

            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center"> 
                    <a download class="btn btn-secondary my-2 mx-4" href="/images/jgun-dual-manual.pdf">Download Manual</a>                          
                </div>
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/jgun-dual-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>   
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->
            

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
        <!--Carousel Wrapper-->
            <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
            <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                    <img src="/images/jgun-dual-show-1.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                    <img src="/images/jgun-dual-show-2.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                    <img src="/images/jgun-dual-show-3.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Third slide-->
                    <!--Fourth slide-->
                    <div class="carousel-item">
                    <img src="/images/jgun-dual-show-4.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Fourth slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--end of image carousel-->
    </section>
    <!--end of card style-->
</div>
