<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <img src="/images/katelyn.jpg" alt="Katelyn Kerby" class="marginb bio-pic" style="border-radius: 50%;">
            <h1>Katelyn Kerby</h1>
            <p class="lead text-muted">
                Sales Representative
            </p>
        </div>
    </section>
</div>

<!--card container-->
<div class="container">
    <div class="card mb-4">
        <!--favorite product-->
        <div class="row margint">
            <h4 class="col-12">
                Favorite Hytorc Product            
            </h4>
            <div class="col-12">
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <hr>
                    </div>
                    <div class="col-4">
    
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mxt-3 bio-tool">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h6 class="margint double-spaced">
                    The MXT Hydraulic bolting system
                </h6>
            </div>
            <div class="col-1"></div>
        </div>
        <!--end of favorite product-->
        
        <div class="container mb-4 margint">
            <hr>
        </div>

        <!--School or other accomplishments-->
        <div class="row">
            <div class="col-12">
                <h4>
                    Education and Career
                </h4>

                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <hr>
                    </div>
                    <div class="col-4">

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h6 class="double-spaced mx-4">
                            Graduated from Utah State University with a bachelor’s in music therapy.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <!--end of School or other accomplishments-->

        <div class="container mb-4 margint">
            <hr>
        </div>

        <!--Where are you from-->
        <div class="row">
            <div class="col-12">
                <h4>
                    My Family
                </h4>
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <hr>
                    </div>
                    <div class="col-4">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h6 class="double-spaced mx-4">
                    I am from southeastern Idaho. My husband and I got married in 2018 and now have an adorable little boy. 
                    I value quality time with my family and enjoy cooking/baking, 
                    being outdoors, playing piano/guitar and sports. 

                </h6>
            </div>
        </div>
        <!--End Where are you from-->

        <div class="container mb-4 margint">
            <hr>
        </div>


        <!--Why Hytorc-->
        <div class="row">
            <div class="col-12">
                <h4>
                    Why did I choose Hytorc?
                </h4>
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <hr>
                    </div>
                    <div class="col-4">

                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <h6 class="double-spaced mx-4">
                    Growing up on a ranch, I have learned and value putting in quality work and getting things done efficiently, 
                    with the right tool. That is one reason I love working for Hytorc Rocky Mountain. The products we offer 
                    follow those same values. Quality and efficiency.

                </h6>
            </div>
        </div>
        <!--End Why Hytorc-->

    </div>
</div>
<!--end of card container-->
