<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <img src="/images/kelly.jpg" alt="Randy Smith" class="marginb bio-pic" style="border-radius: 50%;">
            <h1>Kelly Smith</h1>
            <p class="lead text-muted">
                Sales Representative
            </p>
        </div>
    </section>
</div>
