<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Contact Us For Sales</h1>
        <p class="lead text-muted">
          Our knowledgeable sales representatives can help with any bolting related questions or needs.
          No bolting challenge is too big or too small!
        </p>
  
        <!--contact us button-->
        <p>
          <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
        </p>
      </div>
    </section>
    <!--end of jumbotron header-->
  
    <!--beginning of card style-->
    <section class="card mb-4">
      <!--Product title with angled sides-->
      <table class="table">
        <tr>
          <th scope="col">
            <div class="half-trapazoid-right"></div>
          </th>
          <th class="align-middle" scope="col">
            <h2 class="text-center">
              LION Gun
            </h2>
          </th>
          <th scope="col">
            <div class="half-trapazoid-left"></div>
          </th>
        </tr>
      </table>
  
      <hr>
  
      <section>
        <div class="row align-items-center justify-content-center mb-4">
          <div class="col-10">
            <h3>
              Electric Torque Tool
            </h3>
            <h6 class="text-left">
              The LION Gun is the world’s first affordable precision bolting system with built-in data recording. Set your desired torque output on the LION Gun’s
              display and pull the trigger to get precise, repeatable torque without excessive noise or vibration
            </h6>
          </div>
        </div>
  
        <!--product specs table-->
  
        <div class="row align-items-center justify-content-center mx-4">
          <div class="col-10">
            <div class="row">
              <div class="col-6 text-left">
                <h6>
                  <strong>
                    Tool Type:
                  </strong>
                </h6>
              </div>
              <div class="col-6 text-right">
                <h6>
                  Electric
                </h6>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row align-items-center justify-content-center mx-4">
          <div class="col-10">
            <div class="row">
              <div class="col-6 text-left">
                <h6>
                  <strong>
                    RPM:
                  </strong>
                </h6>
              </div>
              <div class="col-6 text-right">
                <h6>
                  4.1 - 11.6 RPM
                </h6>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row align-items-center justify-content-center mx-4">
          <div class="col-10">
            <div class="row">
              <div class="col-6 text-left">
                <h6>
                  <strong>
                    Weight
                  </strong>
                </h6>
              </div>
              <div class="col-6 text-right">
                <h6>
                  7.30 - 8.22 Lbs
                </h6>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row align-items-center justify-content-center mx-4">
          <div class="col-10">
            <div class="row">
              <div class="col-6 text-left">
                <h6>
                  <strong>
                    Torque Range:
                  </strong>
                </h6>
              </div>
              <div class="col-6 text-right">
                <h6>
                  25 - 700 ft-lbs.
  
                </h6>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--end of product specs table-->
  
      <hr>
        <section>
          <div class="row align-items-center justify-content-center mb-4">
            <div class="col-10">
              <h3>
                Industrial-Grade Power
              </h3>
              <h6 class="text-left">
                The LION Gun's industrial-strength gear box is driven by a brushless motor connected to a non-impacting gearbox to deliver torque faster, 
                smoother and more reliably than manual clicker wrenches, impact wrenches and other tightening tools.
              </h6>
              <hr>
              <h3>
                Unmatched Portability
              </h3>
              <h6 class="text-left">
                Through the use of aerospace-grade alloys, the LION Gun packs tremendous power without the weight. 
                The 18-Volt lithium-ion battery provides long lasting operation with a quick recharge time to keep the job going.
              </h6>
              <hr>
              <h3>
                Data Recording
              </h3>
              <h6 class="text-left">
                Built-in data recording capability allows the user to maintain a log of all completed bolting jobs. For improved quality control and accountability, 
                the information can be saved to a PC or tablet to provide a permanent record of the work performed.
              </h6>
            </div>
          </div>
        </section>
        <hr>
  
    <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">
                  <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      View Manuals
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/images/lion-gun-manual.pdf" target="_blank">Lion Gun Operations Manual</a> 
                      <a class="dropdown-item" href="/images/lithium-ion-battery-safety-sheet.pdf"  target="_blank">Lithium Ion Battery Safety Instructions</a>
                    </div>
                  </div>   
                </div>
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/lion-gun-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>             
                </div>
            </div>
            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center"> 
                    <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download Manuals
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a download class="dropdown-item" href="/images/lion-gun-manual.pdf">Lion Gun Operations Manual</a>
                        <a download class="dropdown-item" href="/images/lithium-ion-battery-safety-sheet.pdf">Lithium Ion Battery Safety Instructions</a>
                      </div>
                    </div>                          
                </div>
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/lion-gun-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->

        <!--image carousel-->
      <div class="container-fluid mb-3">
        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
            <li data-target="#carousel-example-1z" data-slide-to="3"></li>
          </ol>
          <!--/.Indicators-->
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
              <img src="/images/lion-gun-show-1.png" alt="JETPRO S" class="carousel-img">
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
              <img src="/images/lion-gun-show-2.png" alt="JETPRO S" class="carousel-img">
            </div>
            <!--/Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
              <img src="/images/lion-gun-show-3.png" alt="JETPRO S" class="carousel-img">
            </div>
            <!--/Third slide-->
            <!--Fourth slide-->
            <div class="carousel-item">
              <img src="/images/lion-gun-show-4.png" alt="JETPRO S" class="carousel-img">
            </div>
            <!--/Fourth slide-->
          </div>
          <!--/.Slides-->
          <!--Controls-->
          <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
      </div>
      <!--end of image carousel-->

      </section>
    </section>
    <!--end of card style-->
</div>
  