<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Contact Us For Sales</h1>
        <p class="lead text-muted">
          Our knowledgeable sales representatives can help with any bolting related questions or needs.
          No bolting challenge is too big or too small!
        </p>
  
        <!--contact us button-->
        <p>
          <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
        </p>
      </div>
    </section>
    <!--end of jumbotron header-->
  
    <!--beginning of card style-->
    <section class="card mb-4">
      <!--Product title with angled sides-->
      <table class="table">
        <tr>
          <th scope="col">
            <div class="half-trapazoid-right"></div>
          </th>
          <th class="align-middle" scope="col">
            <h2 class="text-center">
              LITHIUM SERIES II
            </h2>
          </th>
          <th scope="col">
            <div class="half-trapazoid-left"></div>
          </th>
        </tr>
      </table>
  
      <hr>
  
      <section>
        <div class="row align-items-center justify-content-center mb-4">
          <div class="col-10">
            <h3>
              Electric Torque Tool
            </h3>
            <h6 class="text-left">
              The LITHIUM SERIES II Electric Torque Tool is the next revolution in bolting technology redesigned from the ground up with expanded functionality,
              greater durability, and intuitive usability. This lightweight 36 Volt battery powered tool, with capacity up to 5000 ft-lbs, is the ultimate solution for
              strength and portability in industrial bolting jobs worldwide.
              This tool is compatible with conventional sockets, the <a href="/hytorc-nut" target="blank_">HYTORC Nut</a> and <a href="/hytorc-washer" target="blank_">Washer</a>.
            </h6>
          </div>
        </div>
  
        <!--product specs table-->
  
        <div class="row align-items-center justify-content-center mx-4">
          <div class="col-10">
            <div class="row">
              <div class="col-6 text-left">
                <h6>
                  <strong>
                    Tool Type:
                  </strong>
                </h6>
              </div>
              <div class="col-6 text-right">
                <h6>
                  Electric
                </h6>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row align-items-center justify-content-center mx-4">
          <div class="col-10">
            <div class="row">
              <div class="col-6 text-left">
                <h6>
                  <strong>
                    RPM:
                  </strong>
                </h6>
              </div>
              <div class="col-6 text-right">
                <h6>
                  7.0 - 61.0 RPM
                </h6>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row align-items-center justify-content-center mx-4">
          <div class="col-10">
            <div class="row">
              <div class="col-6 text-left">
                <h6>
                  <strong>
                    Weight
                  </strong>
                </h6>
              </div>
              <div class="col-6 text-right">
                <h6>
                  22.40 Lbs.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--end of product specs table-->
  
      <hr>
      <section>
        <div class="row align-items-center justify-content-center mb-4">
          <div class="col-10">
            <h3>
              Expanded Functionality
            </h3>
            <h6 class="text-left">
              The LITHIUM SERIES II Tool incorporates TorcSense™ Technology which directly measures torque providing more repeatable results.
              Now available in a 5000 ft-lbs configuration expanding the operational capability of this tool. With all new features such as the sliding directional switch,
              snug function, user access levels, advanced bolting,
              and more further extends the versatility of the tool.
            </h6>
            <hr>
            <h3>
              Greater Durability
            </h3>
            <h6 class="text-left">
              The nickel plated all-aluminum housing greatly improves corrosion resistance and overall durability.
              The all new 36V brushless motor has more than 5 times longer life than its predecessor. Gearboxes
              are redesigned for 20% greater strength and reliability. The integrated rear cover shock guard absorbs
              impact protecting the display and buttons. Hall Effect trigger and directional switches increases dependability.
            </h6>
            <hr>
            <h3>
              Intuitive Usability
            </h3>
            <h6 class="text-left">
              The user interface and menu structure is remodeled for ease of use while presented on a high resolution display.
              Settings menu offers finer control of user preferences. Expansion of job data management provides flexibility in
              verifying work performed. Now standard with Bluetooth wireless technology makes data acquisition and firmware upgrades easier than ever.
              The work light and side handle further enhance safety and productivity.
            </h6>
          </div>
        </div>
      </section>
      <hr>
  
      <!--Cut sheet buttons-->
      <!--manual buttons-->
      <div class="row align-items-center justify-content-center container-fluid">
        <div class="col-lg-6 col-md-12 text-center">
          <a href="/images/lithium-ion-battery-safety-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Battery Safety</a>
        </div>
        <div class="col-lg-6 col-md-12 text-center">
          <a href="/images/lithium-series-2-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>
        </div>
      </div>
  
      <div class="row align-items-center justify-content-center container-fluid mb-4">
        <div class="col-lg-6 col-md-12 text-center">
          <a download href="/images/lithium-ion-battery-safety-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">Download Battery Safety</a>
        </div>
        <div class="col-lg-6 col-md-12 text-center">
          <a download href="/images/lithium-series-2-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>
        </div>
      </div>
      <!--manual buttons-->
      <!--end of Cut sheet buttons-->
      <hr>
      <!--image carousel-->
      <div class="container-fluid mb-3">
        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
            <li data-target="#carousel-example-1z" data-slide-to="3"></li>
          </ol>
          <!--/.Indicators-->
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
              <img src="/images/llithium-series-2-show-1.png" alt="JETPRO S" class="carousel-img">
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
              <img src="/images/llithium-series-2-show-2.png" alt="JETPRO S" class="carousel-img">
            </div>
            <!--/Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
              <img src="/images/llithium-series-2-show-3.png" alt="JETPRO S" class="carousel-img">
            </div>
            <!--/Third slide-->
            <!--Fourth slide-->
            <div class="carousel-item">
              <img src="/images/llithium-series-2-show-4.png" alt="JETPRO S" class="carousel-img">
            </div>
            <!--/Fourth slide-->
          </div>
          <!--/.Slides-->
          <!--Controls-->
          <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
      </div>
      <!--end of image carousel-->
  
    </section>
    <!--end of card style-->
  </div>
  