<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Contact Us For Sales</h1>
        <p class="lead text-muted">
          Our knowledgeable sales representatives can help with any bolting related questions or needs.
          No bolting challenge is too big or too small!
        </p>
  
        <!--contact us button-->
        <p>
          <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
        </p>
      </div>
    </section>
    <!--end of jumbotron header-->
  
    <!--beginning of card style-->
    <section class="card mb-4">
      <!--Product title with angled sides-->
      <table class="table">
        <tr>
          <th scope="col">
            <div class="half-trapazoid-right"></div>
          </th>
          <th class="align-middle" scope="col">
            <h2 class="text-center">
                LITHIUM SERIES
            </h2>
          </th>
          <th scope="col">
            <div class="half-trapazoid-left"></div>
          </th>
        </tr>
      </table>
  
      <hr>
  
      <section>
        <div class="row align-items-center justify-content-center mb-4">
          <div class="col-10">
            <h3>
              Electric Torque Tool
            </h3>
            <h6 class="text-left">
                The LITHIUM SERIES Electric Torque Tool is the ultimate solution for portability and convenience on industrial bolting jobs. 
                With the world’s first 36-volt industrial battery system, these tools are ready for heavy industrial use. The lightweight 
                design and dual speed capability make this system the go-to choice for 
                industrial maintenance and production environments worldwide.
            </h6>
          </div>
        </div>
  
        <!--product specs table-->
  
        <div class="row align-items-center justify-content-center mx-4">
          <div class="col-10">
            <div class="row">
              <div class="col-6 text-left">
                <h6>
                  <strong>
                    Tool Type:
                  </strong>
                </h6>
              </div>
              <div class="col-6 text-right">
                <h6>
                  Electric
                </h6>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row align-items-center justify-content-center mx-4">
          <div class="col-10">
            <div class="row">
              <div class="col-6 text-left">
                <h6>
                  <strong>
                    RPM:
                  </strong>
                </h6>
              </div>
              <div class="col-6 text-right">
                <h6>
                    0.8 - 5.4 RPM
                </h6>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row align-items-center justify-content-center mx-4">
          <div class="col-10">
            <div class="row">
              <div class="col-6 text-left">
                <h6>
                  <strong>
                    Weight
                  </strong>
                </h6>
              </div>
              <div class="col-6 text-right">
                <h6>
                    10.20 - 16.26 Lb
                </h6>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row align-items-center justify-content-center mx-4">
          <div class="col-10">
            <div class="row">
              <div class="col-6 text-left">
                <h6>
                  <strong>
                    Torque Range:
                  </strong>
                </h6>
              </div>
              <div class="col-6 text-right">
                <h6>
                    150 - 3000 ft-lbs.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--end of product specs table-->
  
      <hr>
        <section>
          <div class="row align-items-center justify-content-center mb-4">
            <div class="col-10">
              <h3>
                Industrial-Grade Power
              </h3>
              <h6 class="text-left">
                The LITHIUM SERIES Electric Torque Tool was designed from the ground up using aerospace-grade materials to provide a compact design with industrial durability and power. 
                The metal frame cut from a solid piece of aluminum alloy protects the tool from damage on industrial jobs. 
                The 36-volt battery gives you the power to get through the toughest bolted joints.
              </h6>
              <hr>
              <h3>
                Dual Speed Bolting
              </h3>
              <h6 class="text-left">
                With a simple switch, the LITHIUM SERIES goes from high speed rundown mode to accurate final torque mode, 
                eliminating the need for multiple systems on a job. The precision machined gearbox provides constant power without the 
                vibration and noise found in impact guns. Adjust the power through 
                the digital readout on the back of the gun to fine-tune the torque output for any job.
              </h6>
              <hr>
              <h3>
                Torque & Angle Bolting
              </h3>
              <h6 class="text-left">
                The LITHIUM SERIES makes torque & angle bolting simpler than ever before. The desired torque can be entered in ft-lbs or Nm, 
                followed by the desired angle. When the trigger is pulled the tool will automatically apply the torque, pause, 
                and then apply the programmed angle. When complete, the light on the back of the tool will turn green and a short beep will be heard.
              </h6>
            </div>
          </div>
        </section>
        <hr>
  
    <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">
                  <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      View Manuals
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/images/lithium-series-manual.pdf" target="_blank">Lithium Series Operations Manual</a> 
                      <a class="dropdown-item" href="/images/lithium-ion-battery-safety-sheet.pdf"  target="_blank">Lithium Ion Battery Safety Instructions</a>
                    </div>
                  </div>   
                </div>
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/lithium-series-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>             
                </div>
            </div>
            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center"> 
                    <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download Manuals
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a download class="dropdown-item" href="/images/lithium-series-manual.pdf">Lithium Series Operations Manual</a>
                        <a download class="dropdown-item" href="/images/lithium-ion-battery-safety-sheet.pdf">Lithium Ion Battery Safety Instructions</a>
                      </div>
                    </div>                          
                </div>
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/lithium-series-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->

        <!--image carousel-->
      <div class="container-fluid mb-3">
        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
              <img src="/images/lithium-series-show-1.png" alt="JETPRO S" class="carousel-img">
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
              <img src="/images/lithium-series-show-2.png" alt="JETPRO S" class="carousel-img">
            </div>
            <!--/Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
              <img src="/images/lithium-series-show-3.png" alt="JETPRO S" class="carousel-img">
            </div>
            <!--/Third slide-->
          </div>
          <!--/.Slides-->
          <!--Controls-->
          <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
      </div>
      <!--end of image carousel-->

      </section>
    </section>
    <!--end of card style-->
</div>
  