<section class="jumbotron text-center">
  <div class="container">
    <h1>Maintenance</h1>
    <p class="lead text-muted">For improved productivity, inventory management and operator safety, HYTORC mobile service technicians provide repairs,
      calibrations and training at your location.</p>
    <p>
      <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
    </p>
  </div>
</section>
  
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h4>On-Site Services</h4>
              <hr class="hycare-hr">
              <p class="card-text-hycare">Only HYTORC offers the complete suite of on-site services necessary to improve your productivity through scheduled calibrations,
                preventative maintenance, loss prevention and operator training. Available in many areas of the world, our service vehicles will come to you, eliminating the downtime and potential loss
                associated with shipping your tools for service.
                <div>
                  <div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h4>HyCare</h4>
              <hr class="hycare-hr">
              <p class="card-text-hycare">HYTORC Service Plans provide peace of mind protection and offer a no deductible plan to protect you from unexpected
                bolting equipment repair costs and downtime after your standard equipment warranty expires.
                <div>
                  <div>
                    <a href="/hycare" class="btn btn-secondary">Learn More</a>
                  </div>
                  <div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  
  <section class="jumbotron text-center">
    <div class="container">
        <h1>Inside The HYTORC Van</h1>
        <p class="lead text-muted">Each HYTORC mobile technician is equipped with the training and tools required for repair and service of all HYTORC bolting systems. 
            Additionally, each vehicle is equipped with state of the art calibration systems for hand torque wrench calibration and hydraulic, 
            pneumatic and electric torque wrench calibration up to 20,000 ft-lbs.</p>
      </div>
  </section>

  <section>
    <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="row">
            <div class="col-md-5 mb-4 mx-3">
              <img src="/images/hytorc-van.png" alt="Hytorc-Van" class="img-fluid">
          </div>
          <div class="col-md-5 mb-4 mx-3">
              <img src="/images/inside-hytorc-van.png" alt="Hytorc-Van" class="img-fluid">
          </div>
          </div>
        </div>
    </div>
  </section>