<div class="container-fluid align-items-center justify-content-center">
  <div class="row align-items-center justify-content-center">
   <div class="col-12 align-items-center justify-content-center large-width">

      <section class="row align-items-center justify-content-center">
        <div class="col-xl-12 mb-4">
          <div class="view d-flex align-items-center justify-content-center mountain drop-shadow md-height">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <div class="row">
                  <div class="col-12"> 
                    <img src="/images/hytorcrm.png" alt="Hytorc" class="home-page-brand-logo">
                  </div>
                </div>
                <div class="row margint">
                  <div class="col-12">
                    <a class="btn btn-outline-danger text-white" href="/events-landing-page"><i class="far fa-clone left"></i>Upcoming Events</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!--events-->
<!--
      <section>
        <div class="row">
          <div class="col-xl-12 col-lg-12 mb-4">
              
              <div class="view d-flex align-items-center justify-content-center expo drop-shadow lg-height">
                  <div class="text-white text-center d-flex align-items-center rgba-black-strong">
                      <div>
                        <h2 class="card-title py-3 font-weight-bold">
                          <strong>
                            <a class="text-white" href="/events">Hytorc Events</a>
                          </strong>
                        </h2>
                        <a class="btn btn-outline-danger text-white" href="/events"><i class="far fa-clone left"></i>Hytorc Events Page</a>
                      </div>
                  </div>
              </div>
              
          </div>
        </div>
      </section>
-->
      <!--end events-->
      <!--Projects section v.4-->
      <section>
        <!--Grid row-->

        <div class="row align-items-center justify-content-center">
          <!--Grid column-->
          <div class="col-md-12 mb-4">
            <div class="view d-flex align-items-center justify-content-center wrench drop-shadow lg-height">
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                  <h2 class="card-title py-3 font-weight-bold">
                    <strong>
                      <a class="text-white" href="/products">Products</a>
                    </strong>
                  </h2>
                  <h4 class="pb-3 sm-width">HYTORC offers the latest bolting technology with unique patented benefits that provide industry-leading safety and accuracy. 
                    Offering incredible repeatability, reliability, and durability – HYTORC bolting systems are the original torque/tension machines.</h4>
                  <a class="btn btn-outline-danger text-white" href="/products"><i class="far fa-clone left"></i>View Products</a>
                </div>
              </div>
            </div>
          </div>
        </div>


          <!--Grid row-->
          <div class="row justify-content-md-center">
            <!--Grid column-->
            <div class="col-xl-6 mb-4">
              <div class="view d-flex align-items-center justify-content-center training drop-shadow lg-height">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
                    <h2 class="card-title py-3 font-weight-bold ">
                      <strong>
                        <a class="text-white" href="/training">Training</a>
                      </strong>
                    </h2>
                    <h4 class="pb-3 sm-width mx-4">For improved productivity and incident reduction, HYTORC leads the industry in safety and operational training initiatives.</h4>
                    <a class="btn btn-outline-danger text-white" href="/training"><i class="far fa-clone left"></i>View Training</a>
                  </div>
                </div>
              </div>
            </div>

            <!--Grid column-->
            <div class="col-xl-6 mb-4">
              <div class="view d-flex align-items-center justify-content-center maintenance drop-shadow lg-height">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
                    <h2 class="card-title py-3 font-weight-bold">
                      <strong>
                        <a class="text-white" href="/maintenance">Maintenance</a>
                      </strong>
                    </h2>
                    <h4 class="pb-3 sm-width mx-4">For improved productivity, inventory management and operator safety, HYTORC mobile service technicians provide repairs, calibrations and training at your location.</h4>
                    <a class="btn btn-outline-danger text-white" href="/maintenance"><i class="far fa-clone left"></i>View Maintenance</a>
                  </div>
                </div>
              </div>
            </div>
          </div>



        <!-- Grid row -->
        <div class="row justify-content-md-center">
          <!--Grid column-->
          <div class="col-xl-6 mb-4">
            <div class="view d-flex align-items-center justify-content-center rentals drop-shadow lg-height">
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                  <h2 class="card-title py-3 font-weight-bold ">
                    <strong>
                      <a class="text-white" href="/rentals">Rentals</a>
                    </strong>
                  </h2>
                  <h4 class="pb-3 sm-width mx-4">From individual tools to customized bolting systems, HYTORC has the largest stock of rental equipment in the industry, available worldwide.</h4>
                  <a class="btn btn-outline-danger text-white" href="/rentals"><i class="far fa-clone left"></i>View Rentals</a>
                </div>
              </div>
            </div>
          </div>

          <!--Grid column-->
          <div class="col-xl-6 mb-4">
            <div class="view d-flex align-items-center justify-content-center services drop-shadow lg-height">
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                  <h2 class="card-title py-3 font-weight-bold">
                    <strong>
                      <a class="text-white" href="/services">Services</a>
                    </strong>
                  </h2>
                  <h4 class="pb-3 sm-width mx-4">With 50 years of experience dedicated to industrial bolting, we have solved almost every bolting challenge imaginable. Let our engineering team show you the possibilities.</h4>
                  <a class="btn btn-outline-danger text-white" href="/services"><i class="far fa-clone left"></i>View Services</a>
                </div>
              </div>
            </div>
          </div>

      </section>
      <!--Projects section v.4-->

      <section>
        <div class="row">
          <div class="col-xl-12 mb-4">
            <div class="view d-flex align-items-center justify-content-center team drop-shadow md-height">
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                  <h2 class="card-title py-3 font-weight-bold ">
                    <strong>
                      <a class="text-white" href="/contact-us">Our Team</a>
                    </strong>
                  </h2>
                  <h4 class="pb-3 sm-width">
                    The HYTORC mission is to optimize safety, quality, and schedule in industrial bolting through innovative solutions, 
                    and an unyielding commitment to world class customer service.
                  </h4>
                  <a class="btn btn-outline-danger text-white" href="/contact-us"><i class="far fa-clone left"></i>Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Teams -->
        <div class="">
          <!--new contact row-->
          <div class="row justify-content-md-center">
              <!--Utah Team-->
              <div class="col-xl-6 col-lg-12 mb-4">
                  <div class="view d-flex align-items-center justify-content-center utah-team drop-shadow lg-height">
                      <div class="text-white text-center d-flex align-items-center rgba-black-strong">
                          <div>
                              <h2 class="card-title py-3 font-weight-bold ">
                              <strong>
                                  <a class="text-white" href="/contact-us-utah">Utah Division</a>
                              </strong>
                              </h2>
                              <a class="btn btn-outline-danger text-white" href="/contact-us-utah">Contact Us</a>
                          </div>
                      </div>
                  </div>
              </div>
              <!--End Utah Team-->

              <!--Colorado Team-->
              <div class="col-xl-6 col-lg-12 mb-4">
                  <div class="view d-flex align-items-center justify-content-center colorado-team drop-shadow lg-height">
                      <div class="text-white text-center d-flex align-items-center rgba-black-strong">
                          <div>
                              <h2 class="card-title py-3 font-weight-bold">
                              <strong>
                                  <a class="text-white" href="/contact-us-colorado">Colorado Division</a>
                              </strong>
                              </h2>
                              <a class="btn btn-outline-danger text-white" href="/contact-us-colorado">Contact Us</a>
                          </div>
                      </div>
                  </div>
              </div> 
              <!--End Colorado Team-->
          </div> 
          <!--end contact row-->

          <!--new contact row-->
          <div class="row">
              <div class="col-xl-3 col-lg-0 col-0">
              </div>
              <div class="col-xl-6 col-lg-12 mb-4">
                  <!--Nevada Team-->
                  <div class="view d-flex align-items-center justify-content-center nevada-team drop-shadow lg-height">
                      <div class="text-white text-center d-flex align-items-center rgba-black-strong">
                          <div>
                              <h2 class="card-title py-3 font-weight-bold">
                              <strong>
                                  <a class="text-white" href="/contact-us-nevada">Nevada Division</a>
                              </strong>
                              </h2>
                              <a class="btn btn-outline-danger text-white" href="/contact-us-nevada">Contact Us</a>
                          </div>
                      </div>
                  </div>
                  <!--End Nevada Team-->
              </div>
              <div class="col-xl-3 col-lg-0 col-0">
              </div>
          </div>
          <!--end contact row-->
      </div>
      <!--End Teams -->

    </div>
  </div>
</div>