<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>

            <!--View Products cut sheets drop down-->
            <p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        View Torque Charts
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="no-decoration" href="/images/mxt.7.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                MXT .7
                            </button>
                        </a>    
                        <a class="no-decoration" href="/images/mxt1.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                MXT 1
                            </button>
                        </a>                   
                        <a class="no-decoration" href="/images/mxt3.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                MXT 3
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/mxt5.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                MXT 5
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/mxt10.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                MXT 10
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/mxt15.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                MXT 15
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/mxt20.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                MXT 20
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/mxt35.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                MXT 35
                            </button>
                        </a>
                    </div>
                </div>
            </p>

            <!--Download cut sheet button-->
            <p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download Torque Chart
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a download class="no-decoration" href="/images/mxt.7.pdf">
                            <button class="dropdown-item" type="button">
                                MXT .7
                            </button>
                        </a>    
                        <a download class="no-decoration" href="/images/mxt1.pdf">
                            <button class="dropdown-item" type="button">
                                MXT 1
                            </button>
                        </a>                   
                        <a download class="no-decoration" href="/images/mxt3.pdf">
                            <button class="dropdown-item" type="button">
                                MXT 3
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/mxt5.pdf">
                            <button class="dropdown-item" type="button">
                                MXT 5
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/mxt10.pdf">
                            <button class="dropdown-item" type="button">
                                MXT 10
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/mxt15.pdf">
                            <button class="dropdown-item" type="button">
                                MXT 15
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/mxt20.pdf">
                            <button class="dropdown-item" type="button">
                                MXT 20
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/mxt35.pdf">
                            <button class="dropdown-item" type="button">
                                MXT 35
                            </button>
                        </a>
                    </div>
                </div>
            </p>
        </div>
    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        MXT
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Hydraulic Torque Tool
                    </h3>
                    <h6 class="text-left">
                        The MXT is the world’s best-selling industrial bolting system with over one hundred thousand in use around the world. 
                        Since 1990, the signature blue housing has represented quality, durability, 
                        and reliability on job sites in every major industry. From the 
                        tallest roller coasters to the world’s largest bridges, the MXT has the power to get the job done.
                    </h6>
                </div>
            </div>

            <!--product specs table-->

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Tool Type:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                Hydraulic
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Radius
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                0.81" - 2.90"
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Weight
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                2.69 - 77.45 Lbs
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Torque Range:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                118.00 - 37100.00 ft-lbs
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end of product specs table-->

        <hr>

        <!--Features section-->
        <section class="">
            <div class="row align-items-center justify-content-center">
                <div class="col-10">
                    <h3>Features</h3>
                </div>
            </div>
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 mxt-1">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                <div class="row">
                    <div class="col-12 text-left">
                        <h5>
                            Lock Up Release
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <h6>
                            The MXT was the first tool in the industry to feature the lock-up release lever 
                            that allows you to release pressure after torqueing for easy removal. (*Also found on AVANTI series)
                        </h6>
                    </div>
                </div>                
            </div>

            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 mxt-2">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                No-Slip-Ratchet
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                The MXT series pioneered this new system for more powerful breakout and faster 
                                tightening. The secondary pawl inside the tool prevents the ratchet from turning opposite 
                                of the direction it is being driven.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 mxt-3">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                Super Alloy Option
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                The MXT-SA series provides the proven reliability of the MXT design with advanced 
                                materials used to increase lifespan further for extreme usage. The MXT-SA tools come 
                                with a 5 year no-questions warranty.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>


            <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">
                    <a class="btn btn-secondary my-2 mx-4" href="/images/mxt-manual.pdf" target="_blank">View Manual</a> 
                </div>
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/mxt-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>                      
                </div>
            </div>
            

            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center"> 
                    <a download class="btn btn-secondary my-2 mx-4" href="/images/mxt-manual.pdf">Download Manual</a>                          
                </div>
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/mxt-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>   
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->
            

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
        <!--Carousel Wrapper-->
            <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
            <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                    <img src="/images/mxt-show-1.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                    <img src="/images/mxt-show-2.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                    <img src="/images/mxt-show-3.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Third slide-->
                    <!--Fourth slide-->
                    <div class="carousel-item">
                    <img src="/images/mxt-show-4.png" alt="ICE Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Fourth slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--end of image carousel-->
    </section>
    <!--end of card style-->
</div>
