<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>
            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>

    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        Offset Link
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Accessories
                    </h3>
                    <h6 class="text-left">
                        The cartridge system of the HYTORC Offset Link allows it to be used with A/F nut sizes ranging from 1” (30mm) to 3” (80mm). The cartridges are easy to fit or remove through two bolts.
                    </h6>
                    <hr>
                    <h3>
                        HYTORC Offset Link With Hytorc Washer
                    </h3>
                    <h6 class="text-left">
                        The cartridge system of the HYTORC Offset Link allows it to be used with A/F nut sizes ranging from 1” (30mm) to 3" (80mm). 
                        The cartridges are easy to fit or remove through two bolts. 
                        HYTORC square drive tools mount on the Offset Link which can be used as a ratchet link, making our Offset Links ideal for applications with limited space around or above the nut.
                    </h6>
                    <hr>
                    <h3>
                        Safety Of The HYTORC Washer
                    </h3>
                    <h6 class="text-left">
                        The HYTORC Washer eliminates the need for reaction arms, which are the most common cause of injury on bolting jobs. 
                        The unique design of the washer allows the double layered safety socket to react on the washer itself, while turning the nut
                    </h6>
                    <hr>
                    <h3>
                        Speed With The HYTORC Washer
                    </h3>
                    <h6 class="text-left">
                        The HYTORC Washer removes the complicated setup associated with other bolting systems and makes 
                        the bolting process more intuitive for improved job times. Our patented knurling ensures against bolt rotation during any operation.
                    </h6>
            </div>

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
            <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                        <img src="/images/offset-link-show-1.png" alt="Offset Link" class="carousel-img">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                        <img src="/images/offset-link-show-2.png" alt="Offset Link" class="carousel-img">
                        </div>
                        <!--/Second slide-->
                        <!--Third slide-->
                        <div class="carousel-item">
                        <img src="/images/offset-link-show-3.png" alt="Offset Link" class="carousel-img">
                        </div>
                        <!--/Third slide-->
                        <!--Fourth slide-->
                        <div class="carousel-item">
                            <img src="/images/offset-link-show-4.png" alt="Offset Link" class="carousel-img">
                        </div>
                        <!--/Fourth slide-->
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <!--end of image carousel-->
        </section>
        <!--end of card style-->
    </div>
</div>