<section>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1>OSHA Bolting Institute</h1>
          <h2 class="jumbotron-heading">HYTORC Training</h2>
          <p class="lead text-muted">HYTORC has a goal to educate all those engaged in industrial bolting in the principles and practices that significantly 
              improve safety, quality, and efficiency of bolting operations. We regularly conduct training classes that are designed for a variety of job 
              functions ranging from operators and technicians to managers and engineers. Classes range from a few hours to a few days and can be 
              customized to meet your schedule and specific application focus. In most cases we bring the class to you in order to make training as 
              convenient and economical as possible. HBI offers free courses 
              in Bolting Basics and Basic Operation and Safety and formal fee-based training with certificates from ASME* and OSHA*.</p>
          <p>
            <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
          </p>
        </div>
      </section>
    </main>
  </section>
  
  <section>
    <section class="text-center">
      <div class="container">
        <h1>OSHA Courses Offered</h1>
        <hr class="hycare-hr">
      </div>
    </section>
  </section>
  
  <section>
    <div class="container mb-4">
      <div class="row card justify-content-center md-4 box-shadow">
        <div class="col-lg-12 col-lg-12">
          <div class="card-body p-0">
            <div class="row justify-content-center">
              <div class="col-8">
                <h4 class="hycare-title margint"><strong>OSHA 7110 – SAFE BOLTING PRINCIPLES AND PRACTICES</strong></h4>
              </div>
              <div class="table-responsive">
                <table class="table mb-2 margint">
                  <tbody>
                    <tr>
                      <td>Duration</td>
                      <td>8 hours (1 day)</td>
                      <td colspan="3">Course Topics</td>
                    </tr>
                    <tr>
                      <td>Class Size</td>
                      <td>10 (minimum) to 20 (maximum)</td>
                      <td>Overview</td>
                      <td>Tightening w/ Torque</td>
                      <td>Safety</td>
                    </tr>
                    <tr>
                      <td>Certificate</td>
                      <td>TEEX, OSHA, HBI</td>
                      <td>Principles of Bolting</td>
                      <td>Tensioning</td>
                      <td>Practical Examination</td>
                    </tr>
                    <tr>
                      <td>Instructor</td>
                      <td>OSHA Certified Training Instructor</td>
                      <td>Flanges</td>
                      <td>Bolting Patterns</td>
                      <td>Structural Fasteners</td>
                    </tr>
                    <tr>
                      <td>Location</td>
                      <td>Customer Facility</td>
                      <td>Structural Joints</td>
                      <td>Keeping Bolts Tight</td>
                      <td>Gaskets</td>
                    </tr>
                    <tr>
                      <td>Equipment</td>
                      <td>HYTORC Tools</td>
                      <td>Standard Fasteners</td>
                      <td>Structural Bolts</td>
                    </tr>
                    <tr>
                      <td>Audience</td>
                      <td colspan="3">Technicians and bolting operators; pipefitters, construction workers, 
                          boilermakers, millwrights, iron workers, mechanics, maintenance workers, 
                          equipment operators, plant managers, line supervisors, plant engineers.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mb-4">
        <div class="row card justify-content-center md-4 box-shadow">
            <div>
                <div class="card-body">
                    <table class="table mb-0">
                        <tbody>
                        <tr>
                            <td>Cost**</td>
                            <td><strong>$200 / Student</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </section>