<section>
    <main role="main">
  
      <section class="jumbotron text-center">
        <div class="container page-header">
          <h1>Pneumatic</h1>
          <h2 class="jumbotron-heading">Torque Tools</h2>
          <p class="lead text-muted">Industry leading reliability with the convenience of air power makes the HYTORC jGun lineup the simple solution for industrial maintenance.</p>
          <p>
            <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
          </p>
        </div>
      </section>
  
      <div class="album py-5 bg-light">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
                
                <a class="no-decoration" href="/jgun-digital">
                  <img class="card-img-top" src="/images/jgun.png" alt="Card image cap">
                  <div class="card-body">
                    <h4>jGun DIGITAL</h4>
                    <h6>
                      The new jGun DIGITAL series from HYTORC is the world’s first torque-adjustable pneumatic multiplier with a digital readout
                      and FRL-free operation. Unlike other systems that require a separate filter, regulator and lubrication system between the air line and the tool,
                      the patented design of the jGun DIGITAL eliminates the need for this add-on for the highest level of portability and convenience.
                    </h6>
                    <div>
                      <div class="itunes-store">
                        <a href="/jgun-digital" class="btn btn-secondary">View</a>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
                
                <a class="no-decoration" href="/jgun-dual-speed">
                  <img class="card-img-top" src="/images/jgun-speed.png" alt="Card image cap">
                  <div class="card-body">
                    <h4>jGun DUAL SPEED</h4>
                    <h6>
                      For fast run down and powerful torque capability, the jGun DUAL SPEED Pneumatic Torque Tool is the industry’s most reliable choice.
                    </h6>
                    <div>
                      <div class="itunes-store">
                        <a href="/jgun-dual-speed" class="btn btn-secondary">View</a>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
  
  </section>
  