<div class="container-fluid mb-4">
  <div class="align-items-center justify-content-center">
    <div class="row align-items-center justify-content-center">
     <div class="col-12 align-items-center justify-content-center large-width">
      <div class="page-header mb-4">
        <h1>
          Hytorc Products
        </h1>
      </div>
      <hr>
      
      
      <section class="card">
        <!--Grid row-->
        <div class="row mx-1 justify-content-center margint">
      
          <!--Grid column-->
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-4">
            
            <a class="no-dec" href="/hydraulic">
              <div class="view d-flex align-items-center justify-content-center gray">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
        
                    <div class="row container-fluid">
                      <div class="col py-5 hydrolic">
        
                      </div>
                      <h4 class="col card-title py-3 font-weight-bold text-left">
                        <strong>
                          Hydraulic
                        </strong>
                      </h4>
                    </div>
        
                    <h6 class="pb-3 double-spaced">
                      HYTORC offers the latest hydraulic bolting technology with unique patented benefits that provide industry-leading safety and accuracy. 
                      Offering incredible repeatability, reliability, and durability – HYTORC hydraulic bolting systems are the original torque/tension machines.
                    </h6>
                    <a class="btn btn-outline-danger text-white" href="/hydraulic"><i class="far fa-clone left"></i>View Products</a>
                  </div>
                </div>
              </div>
            </a>
      
          </div>
          <!--Grid column-->
      
          <!--Grid column-->
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-4">
            
            <a class="no-dec" href="/electric">
              <div class="view d-flex align-items-center justify-content-center gray">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
        
                    <div class="row container-fluid">
                      <div class="col py-5 electric">
        
                      </div>
                      <h4 class="col card-title py-3 font-weight-bold text-left">
                        <strong>Electric</strong>
                      </h4>
                    </div>
        
                    <h6 class="pb-3 double-spaced">
                      The ultimate solution for portability and convenience, HYTORC battery-powered bolting systems make safe and accurate bolting simpler than ever before.
                    </h6>
                    <a class="btn btn-outline-danger text-white" href="/electric"><i class="far fa-clone left"></i>View Products</a>
                  </div>
                </div>
              </div>
            </a>
      
          </div>
      
          <!--Grid column-->
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-4">
            
            <a class="no-dec" href="/pneumatic">
              <div class="view d-flex align-items-center justify-content-center gray">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
        
                    <div class="row container-fluid">
                      <div class="col py-5 pneumatic">
        
                      </div>
                      <h4 class="col card-title py-3 font-weight-bold text-left">
                        <strong>Pneumatic</strong>
                      </h4>
                    </div>
        
                    <h6 class="pb-3 double-spaced">
                      Industry leading reliability with the convenience of air power makes the HYTORC jGun lineup the simple solution for industrial maintenance.
                    </h6>
                    <a class="btn btn-outline-danger text-white" href="/pneumatic"><i class="far fa-clone left"></i>View Products</a>
                  </div>
                </div>
              </div>
            </a>
      
          </div>
      
        </div>
      
      
        <!--Grid row-->
        <div class="row mx-1">
      
          <!--Grid column-->
          <div class="col-lg-12 mb-4">
            
            <a class="no-dec" href="/accessories">
              <div class="view d-flex align-items-center justify-content-center gray">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
        
                    <div class="row container-fluid">
                      <div class="col py-5 accessories">
        
                      </div>
                      <h4 class="col card-title py-3 font-weight-bold text-left">
                        <strong>Accessories</strong>
                      </h4>
                    </div>
        
                    <h6 class="pb-3 double-spaced">
                      Make the most of your Hytorc bolting technology with our environmentally friendly sockets, custom made reaction fixtures and offset links 
                      so that your next project will have the speed, reliability and precision of our Hytorc custom bolting platforms.
                    </h6>
                    <a class="btn btn-outline-danger text-white" href="/accessories"><i class="far fa-clone left"></i>View Products</a>
                  </div>
                </div>
              </div>
            </a>
      
          </div>
        </div>
      
      
      
      
      
      
      
        <!--Grid row-->
        <div class="row mx-1 justify-content-center">
      
          <!--Grid column-->
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-4">
           
            <a class="no-dec" href="/tensioners">
              <div class="view d-flex align-items-center justify-content-center gray">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
        
                    <div class="row container-fluid">
                      <div class="col py-5 tensioner">
        
                      </div>
                      <h4 class="col card-title py-3 font-weight-bold text-left">
                        <strong>Tensioners</strong>
                      </h4>
                    </div>
        
                    <h6 class="pb-3 double-spaced">
                      Whether you are tensioning flanges in a plant or installing blades on a wind turbine, HYTORC has the right tools for the job. 
                      Our line of tensioners can be designed to meet any application that our customers need. Contact us to see what our tensioners can do for you.
                    </h6>
                    <a class="btn btn-outline-danger text-white" href="/tensioners"><i class="far fa-clone left"></i>View Products</a>
                  </div>
                </div>
              </div>
            </a>
      
          </div>
      
          <!--Grid column-->
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-4">
           
            <a class="no-dec" href="/fasteners">
              <div class="view d-flex align-items-center justify-content-center gray">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
        
                    <div class="row container-fluid">
                      <div class="col py-5 fastener">
        
                      </div>
                      <h4 class="col card-title py-3 font-weight-bold text-left">
                        <strong>Fasteners</strong>
                      </h4>
                    </div>
        
                    <h6 class="pb-3 double-spaced">
                      The HYTORC Washer and HYTORC Nut offer 
                      uncompromised bolting efficiency, reduce variation in bolt load across the flange for improved accuracy and loosening prevention.
                    </h6>
                    <a class="btn btn-outline-danger text-white" href="/fasteners"><i class="far fa-clone left"></i>View Products</a>
                  </div>
                </div>
              </div>
            </a>
      
          </div>
      
          <!--Grid column-->
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-4">
           
            <a class="no-dec" href="/pumps">
              <div class="view d-flex align-items-center justify-content-center gray">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
        
                    <div class="row container-fluid">
                      <div class="col py-5 pump">
        
                      </div>
                      <h4 class="col card-title py-3 font-weight-bold text-left">
                        <strong>Pumps</strong>
                      </h4>
                    </div>
        
                    <h6 class="pb-3 double-spaced">
                      HYTORC hydraulic pumps are available in many configurations to give you the 
                      sright power for the job with the capability to run multiple tools simultaneously. Available with air or electric power source
                    </h6>
                    <a class="btn btn-outline-danger text-white" href="/pumps"><i class="far fa-clone left"></i>View Products</a>
                  </div>
                </div>
              </div>
            </a>
      
          </div>
        </div>
    
        <!--Grid row-->
        <div class="row mx-1">
      
          <!--Grid column-->
          <div class="col-lg-12 mb-4">
            
            <a class="no-dec" href="/manual">
              <div class="view d-flex align-items-center justify-content-center gray">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                  <div>
        
                    <div class="row container-fluid">
                      <div class="col py-5 manual">
        
                      </div>
                      <h4 class="col card-title py-3 font-weight-bold text-left">
                        <strong>Manual</strong>
                      </h4>
                    </div>
        
                    <h6 class="pb-3 double-spaced">
                      The HYTORC Clicker Wrench is a simple and convenient tool for tightening nuts to specification in a wide range of bolting applications. 
                      This micro-adjustable torque wrench is available in various drive sizes and torque capacities. Handles are lightly knurled for a tough, non-slip grip. 
                      The tool has a spring-loaded pull down Lock Ring and an easy-to-read laser-etched dual scale to quickly and easily set torque. 
                      The wrench also features a quick-release button for easy socket removal. 
                      The HYTORC Clicker Wrench is supplied with an ISO certified calibration certificate.
                    </h6>
                    <a class="btn btn-outline-danger text-white" href="/manual"><i class="far fa-clone left"></i>View Products</a>
                  </div>
                </div>
              </div>
            </a>
      
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>