<section>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
         <h1>Power Packs</h1>
         <h2 class="jumbotron-heading">Hydraulic Pump</h2>
          <p class="lead text-muted">HYTORC hydraulic pumps are available in many configurations to give you the right power for the job with the 
              capability to run multiple tools simultaneously. Available with air or electric power source</p>
          <p>
            <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
                
                <a class="no-decoration" href="/vector-mini">
                  <img class="card-img-top" src="/images/vector-mini.png" alt="Card image cap">
                  <div class="card-body">
                  <h4>VECTOR MINI</h4>
                    <h6>
                      The world's most advanced hydraulic power pack. The first pump to offer LCD pendant control and automated regulation, 
                        HYTORC is taking industrial bolting to the next level. With the Vector Series pumps, 
                        industrial bolting has become more intuitive and smarter than ever before.
                    </h6>
                    <div>
                      <div class="itunes-store">
                        <a href="/vector-mini" class="btn btn-secondary">View</a>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
               
                <a class="no-decoration" href="/vector-fa">
                  <img class="card-img-top" src="/images/vector.png" alt="Card image cap">
                  <div class="card-body">
                   <h4>VECTOR</h4>
                    <h6>
                      The world's most advanced hydraulic power pack. The first pump to offer LCD pendant control and automated 
                      regulation, HYTORC is taking industrial bolting to the next level. 
                      With the Vector Series pumps, industrial bolting has become more intuitive and smarter than ever before.
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/vector-fa" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>
               
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
               
                <a class="no-decoration" href="/vector-fa">
                  <img class="card-img-top" src="/images/vector.png" alt="Card image cap">
                  <div class="card-body">
                   <h4>VECTOR FA / FA - DOC</h4>
                    <h6>
                      Our Vector pumps can be upgraded from a manual pump to a fully automatic documentation pump with no need to buy a 
                          new pump. 
                          Push the button and let the pump to do all the work.
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/vector-fa" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>
               
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
               
                <a class="no-decoration" href="/hy-115">
                  <img class="card-img-top" src="/images/hy-115.png" alt="Card image cap">
                  <div class="card-body">
                   <h4>HY-115 / JETPRO 9.3 (HY-230)</h4>
                    <h6>
                      HYTORC standard Electric power packs. Reliable, efficient and economical, the HY115/230 will outperform any standard pump on the market.
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/hy-115" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>
               
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
               
                <a class="no-decoration" href="/hy-twin-230">
                  <img class="card-img-top" src="/images/hy-twin.png" alt="Card image cap">
                  <div class="card-body">
                   <h4>HY-TWIN 230</h4>
                    <h6>
                      This high-powered, twin-motor, 3-stage pump provides twice the speed and oil flow of any other available system.
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/hy-twin-230" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>
               
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
               
                <a class="no-decoration" href="/hy-ex-3-stage">
                  <img class="card-img-top" src="/images/hy-ex-3.png" alt="Card image cap">
                  <div class="card-body">
                   <h4>HY-EX 3-STAGE</h4>
                    <h6>
                      HYTORC HY-EX 3-Stage Electric Pumps are the backbone of an intrinsically safe bolting system
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/hy-ex-3-stage" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>
               
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
               
                <a class="no-decoration" href="/jetpro-s">
                  <img class="card-img-top" src="/images/jetpro-s.png" alt="Card image cap">
                  <div class="card-body">
                   <h4>JETPRO-S</h4>
                    <h6>
                      This portable, professional pump offers not just great reliability but also high speed for tools up to 10,000 ft.lbs. 
                          at a highly competitive price. Great to use when portability is needed.
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/jetpro-s" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>
               
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
               
                <a class="no-decoration" href="/jet-183-sa">
                  <img class="card-img-top" src="/images/jetpro-18.3.png" alt="Card image cap">
                  <div class="card-body">
                   <h4>JETPRO 18.3 SA</h4>
                    <h6>
                      The JetPro 18.3 SA is our high-performing pump, designed to work efficiently with our largest hydraulic systems.
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/jet-183-sa" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>
               
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
               
                <a class="no-decoration" href="/hy-air">
                  <img class="card-img-top" src="/images/hy-air.png" alt="Card image cap">
                  <div class="card-body">
                   <h4>HY-AIR</h4>
                    <h6>
                      HYTORC standard Air Power Packs. The most reliable air pumps available on the market. 
                          Perfect for use within explosive environments or in areas where electricity is unavailable (can be used with a portable air compressor).
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/hy-air" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>
               
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
               
                <a class="no-decoration" href="/hy-twin-air">
                  <img class="card-img-top" src="/images/hy-twin-air.png" alt="Card image cap">
                  <div class="card-body">
                   <h4>HY-TWIN AIR</h4>
                    <h6>
                      The HY-TWIN AIR hydraulic pump gives the operator the power they need to utilize 10,000 ft. lb. 
                          Fitted with a five-gallon reservoir this pump will have enough oil to power up to four large tools at once.
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/hy-twin-air" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>
               
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
               
                <a class="no-decoration" href="/jetpro-s-air">
                  <img class="card-img-top" src="/images/jet-pro-s-air.png" alt="Card image cap">
                  <div class="card-body">
                   <h4>JETPRO S-AIR</h4>
                    <h6>
                      The JETPRO 2 stage Hydraulic Air Power System is the most affordable lightweight pneumatic pump on the market.
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/jetpro-s-air" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>
               
              </div>
            </div>
        
          </div>
        </div>
      </div>

</section>
