<section class="jumbotron text-center">
  <div class="container">
   <h1>Rentals</h1>
    <h2 class="jumbotron-heading">Hydraulic Bolting Tools</h2>
    <p class="lead">From individual tools to customized bolting systems,
      HYTORC has the largest stock of rental equipment in the
      industry, available worldwide.</p>
    <p>
      <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
    </p>
  </div>
</section>

<div class="row align-items-center justify-content-center mb-4">
  <div class="container mx-4 justify-content-center">
     <div class="card">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 py-5 rental-tool-1 margint">

        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-12 py-5 text-center">
          <h3 class="card-title py-3">
              Hydraulic Torque Wrench Rentals
          </h3>
        </div>
      </div>

      <hr>

      <h4>With your rental, we also offer:</h4>
      <div class="row align-items-center justify-content-center">
        <div class="col-10">
            <ul class="text-left">
              <li>
                Free safety and
                operational training to ensure that your crew gets the most
                out of each rental.
              </li>
              <li>
                <a href="#rental-credits">Rental credits </a>
                generated off the value of the
                HYTORC Tool(s) and Equipment that are rented.
              </li>
              <li>
                Productivity Enhancement HYTORC Tooling.
              </li>
              <li>
                Optional
                <a href="#tool-trade-in">Tool Trade In</a>
                for credit towards qualifying purchases. This
                includes tools from competitor brands.
              </li>
            </ul>

        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-10">
          <h6>
            With 50 years of experience in this industry, you can be rest
            assured that we have a solution for your bolting challenge!
          </h6>
          <h6 id="rental-credits">
            For information on tool rentals please contact one of our sales
            representatives.
          </h6>
        </div>
      </div>
     </div>

      <hr>

      <div class="card">
        <div class="margint">
          <h4>Rental Credits</h4>
        </div>
        
        <hr>

        <div class="row align-items-center justify-content-center mb-4">
          <div class="col-10 text-left">
            <h6>
              2020 Rental Credits
            </h6>
            <p>
              Any 2020 rental invoice (1/1/2020 – 12/31/2020) will have one full
              year from the date of the rental invoice before rental credits are
              null and void.
            </p>
            <h6>
              How Are Rental Credits Earned?
            </h6>
            <p>
              Rental Credits are generated off the value of the HYTORC Tool(s)
              and Equipment that are rented. Taxes, Freight charges, Accessories,
              and Sales Rep. charges do not earn credit dollars.
            </p>
            <h6>
              What Can a Rental Credit Be Applied Towards?
            </h6>
            <p>
              Rental Credits can be applied towards the purchase of any Productivity
              Enhancement HYTORC Tool. Accessories, Pumps, & Tensioning Equipment are
              not included in this program.
            </p>
            <h6>
              What is Productivity Enhancement HYTORC Tooling?
            </h6>
            <p>
              AVANTI, ICE, STEALTH, JGUN, and Lithium Series torque wrenches
            </p>
            <h6>
              When Can a Rental Credit be Applied?
            </h6>
            <p>
              In order to take advantage of the 100% usage of your rental dollars,
              the RENTAL Invoice must be paid in FULL.
            </p>
          </div>
        </div>
  
        <div class="row align-items-center justify-content-center mb-4">
          <h6 class="col-10">Terms and Conditions</h6>
        </div>
        <div class="row align-items-center justify-content-center mb-4">
          <div class="col-10">
            <ul class="text-left">
              <li>
                Rental Credits are earned as soon as a rental is completed,
                billed, and paid in FULL.
              </li>
              <li>
                Rental Credit dollars must be used within six months from
                the original rental invoice date before they expire.
              </li>
              <li>
                Customers can obtain a copy of their rental credit report
                upon request through their sales representative.
              </li>
              <li>
                A minimum $100 handling charge along with freight will be
                applied to any new rental conversion order should the rental
                credits bring the total under $100.
              </li>
              <li id="tool-trade-in">
                All rental credit orders must be accompanied by a hardcopy
                purchase order or company credit card.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr>

      <div class="card">
        <div class="margint">
          <h4>Tool Trade In</h4>
        </div>

        <hr>
  
        <div class="row align-items-center justify-content-center mb-4">
          <div class="col-10 text-left">
            <h6>
              Hytorc Service
            </h6>
            <p>
              For a limited time,
              HYTORC is reducing cost of your next purchase with a
              qualifying trade-in credit.
            </p>
            <ul class="text-left">
              <li>
                Up to 30% credit from used equipment can be applied to HYTORC
                tools and pumps.
              </li>
              <li>
                All makes and models are accepted INCLUDING competitor brands.
              </li>
              <li>
                Increase safety, speed & accuracy to your next job with
                innovative HYTORC Technology.
              </li>
            </ul>
          </div>
        </div>
      </div>

  </div>
</div>
