<div class="container-fluid align-items-center justify-content-center">
  <!--Grid row-->
  <div class="row justify-content-md-center">
    <!--Grid column-->
    <div class="col-xl-6 mb-4 md-width lg-height">
      <div class="view d-flex align-items-center justify-content-center custom-engine drop-shadow">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <a class="text-white" href="/custom-engineering">
              <h2 class="card-title py-3 font-weight-bold"><strong>Custom Engineering</strong></h2>
            </a>
            <h4 class="pb-3 sm-width mx-4">With 50 years of experience dedicated to industrial bolting, we have solved almost every bolting challenge imaginable.
                Let our engineering team show you the possibilities.
            </h4>
            <a class="btn btn-outline-danger text-white" href="/custom-engineering"><i class="far fa-clone left"></i>Custom Engineering</a>
          </div>
        </div>
      </div>
    </div>

    <!--Grid column-->
    <div class="col-xl-6 mb-4 md-width lg-height">
      <div class="view d-flex align-items-center justify-content-center software drop-shadow">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h2 class="card-title py-3 font-weight-bold"><strong>Bolting Software</strong></h2>
            <h4 class="pb-3 sm-width mx-4">HYTORC Flange Calculator, HYTORC Flange Manager and the HYTORC App</h4>
            <a class="btn btn-outline-danger text-white" href="/bolting-software"><i class="far fa-clone left"></i>View Sofware</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Grid row -->
  <div class="row justify-content-md-center">
  <!--Grid column-->
  <div class="col-xl-6 mb-4 md-width lg-height">
    <div class="view d-flex align-items-center justify-content-center hycare drop-shadow">
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h2 class="card-title py-3 font-weight-bold"><strong>HyCare</strong></h2>
          <h4 class="pb-3 sm-width mx-4">HYTORC Service Plans provide peace of mind protection and offer a no deductible plan to protect you from unexpected
              bolting equipment repair costs and downtime after your standard equipment warranty expires.</h4>
          <a class="btn btn-outline-danger text-white" href="/hycare"><i class="far fa-clone left"></i>View HyCare</a>
        </div>
      </div>
    </div>
  </div>

  <!--Grid column-->
  <div class="col-xl-6 mb-4 md-width lg-height">
    <div class="view d-flex align-items-center justify-content-center training drop-shadow">
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h2 class="card-title py-3 font-weight-bold"><strong>Training</strong></h2>
          <h4 class="pb-3 sm-width mx-4">For improved productivity and incident reduction, HYTORC leads the industry in safety and operational training initiatives.</h4>
          <a class="btn btn-outline-danger"><i class="far fa-clone left"></i>View Training</a>
        </div>
      </div>
    </div>
  </div>
</div>


