<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>
            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>

    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        Subsea Tensioners Pump
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Hydraulic Tensioning Pump
                    </h3>
                    <h6 class="text-left">
                        In order to stand up to the tough offshore environments, HYTORC has taken our tried and true high flow pneumatic pump 
                        and reconstructed it with stainless steel components. 
                        Additionally, we have doubled the size of the reservoir to suit the demands of subsea tensioning.
                    </h6>
                    <hr>
                    <h3>
                        Stainless Steel Construction
                    </h3>
                    <h6 class="text-left">
                        HYTORC HBT-1507-SS is manufactured from high quality materials. The stainless steel construction of our pump is designed to mitigate corrosion caused by the harshest offshore environments.
                    </h6>
                    <hr>
                    <h3>
                        Stainless Steel Construction
                    </h3>
                    <h6 class="text-left">
                        HYTORC HBT-1507-SS is manufactured from high quality materials. The stainless steel construction of our pump is designed to mitigate corrosion caused by the harshest offshore environments.
                    </h6>
                    <hr>
                    <h3>
                        Fast Operation
                    </h3>
                    <h6 class="text-left">
                        Our subsea pump is based on our HBT-1507 air pump. It delivers maximum flow to reduce time on task and increase work efficiency.
                    </h6>
                    <hr>
                    <h3>
                        High Capacity
                    </h3>
                    <h6 class="text-left">
                        The HBT-1507-SS pump comes equipped with a 15L tank. This high capacity gives the subsea pump the ability to run several large tools at once for additional time savings on large flanges
                    </h6>
                    
            </div>

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
            <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                        <img src="/images/subsea-hydraulic-pump-show-1.png" alt="HBT Pneumatic Tensioners Pump" class="carousel-img">
                        </div>
                        <!--/First slide-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <!--end of image carousel-->
        </section>
        <!--end of card style-->
    </div>
</div>