<section>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
         <h1>Tensioners</h1>
          <p class="lead text-muted">Whether you are tensioning flanges in a plant or installing blades on a wind turbine, HYTORC has the right tools for the job. Our line of tensioners can be 
              designed to meet any application that our customers need. Contact us to see what our tensioners can do for you.</p>
          <p>
            <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="card mb-4 box-shadow">
                
                <a class="no-decoration" href="/topside-standard">
                  <img class="card-img-top" src="/images/topside-standard.png" alt="Card image cap">
                  <div class="card-body">
                  <h4>Topside Standard</h4>
                    <h6>
                      The standard series of topside tensioners provide our customers with a quality, cost-efficient solution to their tensioning needs. 
                        Designed to fit most standard flanges, the standard series tensioners are compact and easy to handle.
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/topside-standard" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>

              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  
                  <a class="no-decoration" href="/topside-spring-return">
                    <img class="card-img-top" src="/images/topside-spring-return.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>Topside Spring Return</h4>
                      <h6>
                        The spring return tensioner line offers the customer the same quality as our standard series, but incorporates 
                          a spring-return function and a more robust design. These improvements increase efficiency and enhance the tools load capabilities.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/topside-spring-return" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                 
                  <a class="no-decoration" href="/wind-single-stag">
                    <img class="card-img-top" src="/images/wind-single-stage.png" alt="Card image cap">
                    <div class="card-body">
                     <h4>Wind Single Stag</h4>
                      <h6>
                        Wind turbine tensioners are designed to provide our customers with uncompromising performance. Our single stage tensioners 
                          are made to help our customers with the bolting applications that have limited overhead clearance.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/wind-single-stag" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>
                  
                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  
                  <a class="no-decoration" href="/wind-multi-stage">
                    <img class="card-img-top" src="/images/wind-multi-stage.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>Wind Multi Stage</h4>
                      <h6>
                        Wind turbine tensioners are designed to provide our customers with uncompromising performance. Our multi stage tensioners are made to help our customers 
                          with the bolting applications that have limited radial clearance.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/wind-multi-stage" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  
                  <a class="no-decoration" href="/subsea">
                    <img class="card-img-top" src="/images/subsea.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>Subsea</h4>
                      <h6>
                        Subsea tensioners are designed for continuous use in demanding environments. They are manufactured from high quality materials and are easy to use. 
                          Our subsea tensioners can be suited to fit a variety of sizes and budgets.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/subsea" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">

                  <a class="no-decoration" href="/subsea-hydraulic-pump">
                    <img class="card-img-top" src="/images/subsea-hydraulic-pump.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>Subsea Hydraulic Pump</h4>
                      <h6>
                        In order to stand up to the tough offshore environments, 
                          HYTORC has taken our tried and true high flow pneumatic pump and reconstructed it with stainless steel components. 
                          Additionally, we have doubled the size of the reservoir to suit the demands of subsea tensioning.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/subsea-hydraulic-pump" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>

              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow card-font">
                  
                  <a class="no-decoration" href="/pes-hydraulic-pump">
                    <img class="card-img-top" src="/images/pes-hydraulic-pump.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>PES Hydraulic Pump</h4>
                      <h6>
                        The PES pump is a workhorse tensioning pump. It has the ability to run multiple tools without sacrificing performance. 
                          It is reliable and gives our customers consistent results day in and day out. 
                          The PES pump is recommended for all applications including construction and is available in a variety of configurations.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/pes-hydraulic-pump" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  
                  <a class="no-decoration" href="/hy-series-hydraulic-pumps">
                    <img class="card-img-top" src="/images/hy-series-hydraulic-pumps.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>HY Series Hydraulic Pumps</h4>
                      <h6>
                        The HY Series of tension pumps are our latest design for the tensioning market. 
                          This pump was designed with maintenance technicians in mind. With a smaller footprint, 
                          HY Series tension pumps are nearly 30 pounds lighter than most tension pumps on the market today.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/hy-series-hydraulic-pumps" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  
                  <a class="no-decoration" href="/wind-foundation">
                    <img class="card-img-top" src="/images/wind-foundation.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>Wind Foundation</h4>
                      <h6>
                        HYTORC has many designs available to meet your foundation tensioning needs. We can provide foundation 
                        tensioning solutions for almost every type of foundation used on wind turbines. 
                        We stock tooling for foundation studs from 1” up to 3” rock anchor studs.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/wind-foundation" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">

                  <a class="no-decoration" href="/1507-e-hydraulic-pump">
                    <img class="card-img-top" src="/images/1507-e-hydraulic-pump.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>1507-E Hydraulic Pump</h4>
                      <h6>
                        1507-E pump was designed for the heaviest of jobs. With a 3-phase, 690V motor, the 1507-E provides HYTORC customers with heavy duty performance and reliability. 
                          The 1507-E will support multiple tools with little to no effort. With a full protective cage that is lift-rated, the 1507-E is ready for all applications including construction.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/1507-e-hydraulic-pump" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  
                  <a class="no-decoration" href="/hbt-pneumatic">
                    <img class="card-img-top" src="/images/hbt-pneumatic.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>HBT Pneumatic</h4>
                      <h6>
                        HBT pneumatic pumps are available in standard flow rate and high flow rate to meet your specific tooling needs. 
                          Each pump comes equipped with an in-line filter, regulator, and lubricator assembly. 
                          These pumps are simple to use, simple to maintain, and will last for years to come.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/hbt-pneumatic" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  
                  <a class="no-decoration" href="/hand-pumps">
                    <img class="card-img-top" src="/images/hand-pumps.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>Hand Pumps</h4>
                      <h6>
                        Hand pumps for tensioning tools are lightweight and mobile by design. With different pressures and capacities available, 
                          HYTORC can provide you with the flexibility you need. 
                          Our hand pumps have built in gauges with a unique steel handle that protects the gauge from impact.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/hand-pumps" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  <a class="no-decoration" href="/hydraulic-nuts">
                  <img class="card-img-top" src="/images/hydraulic-nuts.png" alt="Card image cap">
                  <div class="card-body">
                   <h4>Hydraulic Nuts</h4>
                    <h6>
                      Hydraulic nuts are designed to tighten large diameter bolts without causing the damage that occurs when hammer wrenches are employed. 
                        With our hydraulic nut solutions, 
                        customers can tighten large bolts with little to no effort and do so without causing any damage.
                    </h6>
                    <div>
                      <div class="itunes-store">
                          <a href="/hydraulic-nuts" class="btn btn-secondary">View</a>
                        </div>
                    </div>
                  </div>
                </a>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="card mb-4 box-shadow">
                  
                  <a class="no-decoration" href="/direct-fit-tensioners">
                    <img class="card-img-top" src="/images/direct-fit-tensioners.png" alt="Card image cap">
                    <div class="card-body">
                    <h4>Direct Fit Tensioners</h4>
                      <h6>
                        Direct fit tensioners are very useful in applications where you have limited clearance in all directions. 
                          Additionally, technicians prefer them for overhead work because of the one-piece design. 
                          Direct fit tensioners can be customized to fit a wide range of applications.
                      </h6>
                      <div>
                        <div class="itunes-store">
                            <a href="/direct-fit-tensioners" class="btn btn-secondary">View</a>
                          </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
          </div>
        </div>
      </div>

</section>
