<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>
            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>
        </div>

    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" scope="col">
                    <h2 class="text-center">
                        Topside Standard
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Hydraulic Tensioners
                    </h3>
                    <h6 class="text-left">
                        The standard series of topside tensioners provide our customers with a quality, 
                        cost-efficient solution to their tensioning needs. Designed to fit most standard flanges, 
                        the standard series tensioners are compact and easy to handle.
                    </h6>
                    <hr>
                    <h3>
                        Strong, Dependable Tooling
                    </h3>
                    <h6 class="text-left">
                        Our spring return tensioners are made to withstand the toughest of operating environments. With hardened steel bodies and industry-leading metal treatments, these tools are made to last.
                        Time and Energy Savings
                    </h6>
                    <hr>
                    <h3>
                        Wide Range of Sizing
                    </h3>
                    <h6 class="text-left">
                        HYTORC offers the standard series tensioner in standard sizes ranging from ¾” to 4” and metric sizes from M16 to M100.
                    </h6>
                    <hr>
                    <h3>
                        Customizable to Any Specification
                    </h3>
                    <h6 class="text-left">
                        Tensioner Specialists can work with you to customize our spring return tensioners to fit your needs.
                    </h6>
            </div>

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
            <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                        <img src="/images/topside-standard-show-1.png" alt="JETPRO S" class="carousel-img">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                        <img src="/images/topside-standard-show-2.png" alt="JETPRO S" class="carousel-img">
                        </div>
                        <!--/Second slide-->
                        <!--Third slide-->
                        <div class="carousel-item">
                        <img src="/images/topside-standard-show-3.png" alt="JETPRO S" class="carousel-img">
                        </div>
                        <!--/Third slide-->
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <!--end of image carousel-->
        </section>
        <!--end of card style-->
    </div>
</div>