<section class="jumbotron text-center">
    <div class="container">
      <h1>Training</h1>
      <p class="lead text-muted">For improved productivity and incident reduction, HYTORC leads the industry in safety and operational training initiatives.</p>
      <p>
        <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
      </p>
    </div>
  </section>
  
  <section>
    <div class="container">
  
      <div class="row">
        <div class="col-lg-12 col-lg-12 mb-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-8">
                  <h4 class="hycare-title"><strong>HYTORC Bolting Institute</strong></h4>
                </div>
              </div>
              <hr class="hycare-hr">
              <div class="hycare-content">
                <p>
                  HYTORC has a goal to educate all those engaged in industrial bolting in the principles and practices that significantly improve safety, quality,
                  and efficiency of bolting operations. We regularly conduct training classes that are designed for a variety of job functions ranging from operators and technicians
                  to managers and engineers. Classes range from a few hours to a few days and can be customized to meet your schedule and specific application focus. In most cases we bring the class
                  to you in order to make training as convenient and economical as possible.
                  HBI offers free courses in Bolting Basics and Basic Operation and Safety and formal fee-based training with certificates from ASME* and OSHA*.
                </p>
              </div>
              <a href="/bolting-institute" class="btn btn-secondary">HYTORC Courses</a>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-lg-12 mb-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-8">
                  <h4 class="hycare-title"><strong>OSHA Courses</strong></h4>
                </div>
              </div>
              <hr class="hycare-hr">
              <div class="hycare-content">
                <p>
                  Bolted joints are an essential part of virtually every industrial process.
                  The proper assembly of these essential connections puts technicians "up close and personal" with powerful tools,
                  extreme forces, hazardous materials, elevated temperatures and pressures. Perhaps no other maintenance
                  activity demands a greater degree of safety awareness and basic "best practices" training. This course will:
                </p>
                <ul>
                  <li>
                    Lower the risk of bolting related incidents such as equipment failures and environmental impacts
                  </li>
                  Involve students with classroom and "hands on" tool handling
                  <li>
                    Provide information compatible with latest ASME standards
                  </li>
                  <li>
                    Promote safety, quality, and efficiency
                  </li>
                </ul>
              </div>
              <a href="/osha-bolting-institute" class="btn btn-secondary">OSHA Courses</a>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-lg-12 mb-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-8">
                  <h4 class="hycare-title"><strong>ASME Courses</strong></h4>
                </div>
              </div>
              <hr class="hycare-hr">
              <div class="hycare-content">
                <p>
                  In cooperation with ASME Training and Development, the bolting experts at HYTORC present two definitive courses on bolting principles and practices.
                  The bolted joint assembly principles course will train and test bolting personnel at the supervisory level on the technological
                  and practical problems of assembling bolted joints
                  in large scale industrial applications. The qualified bolting specialist course is designed to train and evaluate key lead bolting personnel to inspect,
                  assemble, disassemble and tighten bolted joints in an effective and safe manner with minimal supervision.
                </p>
              </div>
              <a href="/asme-courses" class="btn btn-secondary">ASME Courses</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  
  <section class="jumbotron text-center">
    <div class="container">
      <h1>VPPPA</h1>
      <p class="lead text-muted">HYTORC is an active member of the VPPPA (Voluntary Protection Programs Participant’s Association) to further our mission 
          of safety in the workplace. We participate in the annual VPPPA Safety conference and collaborate with members to continue to pursue safety education and training. 
          We offer OSHA courses on Safe Bolting Practices 
          and Principles on a regular basis to help member companies build comprehensive safety training programs.
        </p>
  </section>

  <section>
    <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="row">
              <div>
                <img src="/images/asme-standard.png" alt="Hytorc-Van" class="img-fluid">
            </div>
          </div>
        </div>
    </div>
  </section>
 