<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <img src="/images/tyler-smith.jpg" alt="Tyler Smith" class="marginb bio-pic" style="border-radius: 50%;">
            <h1>Tyler Smith</h1>
            <p class="lead text-muted">
                Area Manager- Utah
            </p>
        </div>
    </section>
</div>

