<!--Page Header-->
<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Contact Us For Sales</h1>
            <p class="lead text-muted">
                Our knowledgeable sales representatives can help with any bolting related questions or needs.
                No bolting challenge is too big or too small!
            </p>

            <!--contact us button-->
            <p>
                <a href="/contact-us" class="btn btn-secondary my-2">Contact Us</a>
            </p>

            <!--View Products cut sheets drop down-->
            <p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        View Torque Charts
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">  
                        <a class="no-decoration" href="/images/xlct2.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                XLCT 2
                            </button>
                        </a>                   
                        <a class="no-decoration" href="/images/xlct4.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                XLCT 4
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/xlct8.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                XLCT 8
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/xlct14.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                XLCT 14
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/xlct18.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                XLCT 18
                            </button>
                        </a>
                        <a class="no-decoration" href="/images/xlct30.pdf" target="_blank">
                            <button class="dropdown-item" type="button">
                                XLCT 30
                            </button>
                        </a>
                    </div>
                </div>
            </p>

            <!--Download cut sheet button-->
            <p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-2" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download Torque Chart
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <a download class="no-decoration" href="/images/xlct2.pdf">
                            <button class="dropdown-item" type="button">
                                XLCT 2
                            </button>
                        </a>                   
                        <a download class="no-decoration" href="/images/xlct4.pdf">
                            <button class="dropdown-item" type="button">
                                XLCT 4
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/xlct8.pdf">
                            <button class="dropdown-item" type="button">
                                XLCT 8
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/xlct14.pdf">
                            <button class="dropdown-item" type="button">
                                XLCT 14
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/xlct18.pdf">
                            <button class="dropdown-item" type="button">
                                XLCT 18
                            </button>
                        </a>
                        <a download class="no-decoration" href="/images/xlct30.pdf">
                            <button class="dropdown-item" type="button">
                                XLCT 30
                            </button>
                        </a>
                    </div>
                </div>
            </p>
        </div>
    </section>
    <!--end of jumbotron header-->

    <!--beginning of card style-->
    <section class="card mb-4">
        <!--Product title with angled sides-->
        <table class="table">
            <tr>
                <th scope="col">
                    <div class="half-trapazoid-right"></div>
                </th>
                <th class="align-middle" class="align-middle" scope="col">
                    <h2 class="text-center">
                        XLCT
                    </h2>
                </th>
                <th scope="col">
                    <div class="half-trapazoid-left"></div>
                </th>
            </tr>
        </table>
        
        <hr>

        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>
                        Hydraulic Torque Tool
                    </h3>
                    <h6 class="text-left">
                        The XLCT is the world’s best-selling limited clearance industrial 
                        bolting system with over one hundred thousand in use around the world. 
                        Since 1992, the signature red housing has represented quality, durability, 
                        and reliability on job sites in every major industry. From the tallest roller coasters to the world’s 
                        largest bridges, the XLCT has the power to get the job done.
                    </h6>
                </div>
            </div>

            <!--product specs table-->

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Tool Type:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                Hydraulic
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Radius
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                1.03" - 3.07"
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Weight
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                2.05 - 23.80 Lbs
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mx-4">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6>
                                <strong>
                                    Torque Range:
                                </strong>
                            </h6>
                        </div>
                        <div class="col-6 text-right">
                            <h6>
                                243.00 - 30986.00 ft-lbs
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end of product specs table-->

        <hr>

        <!--Features section-->
        <section class="">
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-10">
                    <h3>Features</h3>
                </div>
            </div>
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 xlct-1">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                <div class="row">
                    <div class="col-12 text-left">
                        <h5>
                            Lock-Up Release
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-left">
                        <h6>
                            Like the MXT, the XLCT features a lock-up release lever that allows 
                            you to release pressure after torqueing for easy removal. 
                            (also found on Stealth limited-clearance series)
                        </h6>
                    </div>
                </div>                
            </div>

            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 xlct-2">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                Zero-Slip Ratchet
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                The XLCT series features a Zero-Slip ratchet for more powerful 
                                breakout and faster tightening. The secondary pawl inside the tool prevents the ratchet from 
                                turning opposite of the direction it is being driven.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-xl-2 col-lg-2 col-md-12 col-12 py-5 xlct-3">

                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 py-5">

                    <div class="row">
                        <div class="col-12 text-left">
                            <h5>
                                Multi-Use Accessories
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            <h6>
                                The XLCT series is available with interchangeable cartridges for 6-point hex, 
                                12-point hex, allen drives, square drives, open spanners, 
                                and many other configurations to simplify the most challenging bolting jobs.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>


            <!--Cut sheet buttons--> 
            <!--manual buttons-->
            <div class="row align-items-center justify-content-center container-fluid">
                <div class="col-lg-6 col-md-12 text-center">
                    <a class="btn btn-secondary my-2 mx-4" href="/images/xlct-manual.pdf" target="_blank">View Manual</a> 
                </div>
                <div class="col-lg-6 col-md-12 text-center">     
                    <a href="/images/xlct-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4" target="_blank">View Cut Sheet</a>                      
                </div>
            </div>
            

            
            <div class="row align-items-center justify-content-center container-fluid mb-4">
                <div class="col-lg-6 col-md-12 text-center"> 
                    <a download class="btn btn-secondary my-2 mx-4" href="/images/xlct-manual.pdf">Download Manual</a>                          
                </div>
                <div class="col-lg-6 col-md-12 text-center">
                    <a download href="/images/xlct-cut-sheet.pdf" class="btn btn-secondary my-2 mx-4">Download Cut Sheet</a>   
                </div>
            </div>
            <!--manual buttons-->
            <!--end of Cut sheet buttons-->
            

        </section>
        <!--end of features section-->

        <hr>

        <!--image carousel-->
        <div class="container-fluid mb-3">
        <!--Carousel Wrapper-->
            <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
            <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                    <img src="/images/xlct-show-1.png" alt="XLCT Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                    <img src="/images/xlct-show-2.png" alt="XLCT Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                    <img src="/images/xlct-show-3.png" alt="XLCT Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Third slide-->
                    <!--Fourth slide-->
                    <div class="carousel-item">
                    <img src="/images/xlct-show-4.png" alt="XLCT Hydrolic Wrench" class="carousel-img">
                    </div>
                    <!--/Fourth slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--end of image carousel-->
    </section>
    <!--end of card style-->
</div>
