<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {{ partial "head" .}}
</head>
    <body>
        {{- partial "header.html" . -}}

        {{- partial "bolting-software-page.html" . -}}

        {{- partial "footer.html" . -}}
    </body>
</html>