<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        
        {{- partial "chad-dunn-main.html" . -}}
        
        {{- partial "footer.html" . -}}
    </body>
</html>