<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {{ partial "head" .}}
</head>
    <body>
        {{- partial "header.html" . -}}
        
        {{- partial "contact-us-nevada-main-page.html" . -}}
         
        {{- partial "footer.html" . -}}
    </body>
</html>
