<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
{{ partial "head" .}}
  </head>

  <body>

{{ partial "header" .}}

{{ partial "main-page" .}}

{{ partial "footer" .}}

  </body>
</html>
