a {
  color: #424DAE;
  text-decoration: none;
}

a:hover {
  color: #5864CE;
}

a:active {
  color: #5864CE;
}

footer {
  display:none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html {
  position: relative;
  min-height: 100%;
}

/* Fonts */
h1, h2, h3, h4, h5 {
  font-family: Source Sans Pro;
}

h6, p {
  font-family: Source Sans Pro;
  font-weight: 100;
}

.align-left {
  text-align: left;
}

.below-header-spacing {
  margin-top: 7rem;
}

.border-outline {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.bottom {
  position: absolute;
  bottom: 0;
}

.btn-bottom {
  position:absolute;
  bottom: 10px;
  left: 25%;
  right: 25%;
  text-align: center;
}

/*overriden from Bootsrap*/
.btn-outline-danger {
  border-color: #314C64 !important;
  box-shadow: none !important;
  font-size: 1.25rem;
}

/*overriden from Bootsrap*/
.btn-outline-danger:hover{
  background-color: #314C64 !important;
  border-color: #314C64 !important;
  font-size: 1.25rem;
}

.btn-same-size {
  width: 200px !important;
}

/*overriden from Bootsrap*/
.btn-secondary {
  background-color: #314C64 !important;
  color: white !important;
  z-index: 0;
  font-size: 1.25rem;
}

/*overriden from Bootsrap*/
.btn-secondary:hover {
  background-color: #595959 !important;
  border-color: #595959 !important;
  font-size: 1.25rem;
}

.card-button {
  margin: 0 auto;
}

.card-img-top {
  max-width: 50%;
  max-height: 50%;
}

@media (max-width: 756px) {
  .card-img-top {
    max-width: 65%;
    max-height: 65%;
  }
} 

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Contact Us Page container */
.col-container {
  display: flex;
  width: 100%;
}

/* Contact Us Page collum */
.col {
  flex: 1;
  padding: 1rem;
}

/* Float four columns side by side on software page */
.column-software-card {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.card-text {
  font-size: 1em !important;
}

.card-text-bio {
  text-align: left;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-indicators .active{
  background-color: black;
}

.carousel-indicators li {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  text-indent: 0;
  cursor: pointer;
  border: none;
  background-color: #2F2F2F;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}

/*OverRide Bootstrap class*/
.col-md-2{
  width: 0% !important;
}

.carousel-img {
  width: 100%;
}

.double-spaced {
  line-height: 1.5;
}

.dropdown-item:active {
  color: #545476;
  background-color: #D9D9DC;
}

.drop-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.employe-img-contact {
  max-width: 4rem;
  vertical-align: middle;
}

.contact-us-employ-info {
  padding-left: 5rem;
}

/* If the browser window is smaller than 600px, make the columns stack on top of each other */
@media only screen and (max-width: 600px) {
  .col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding-left:15px;
    padding-right:15px;
  }
}

.course-topics {
  position: relative;
  right: 40px;
}

.itunes-store {
  padding-bottom: 1rem;
}

/*used for product pages*/
.half-trapazoid-left {
  border-top: 100px solid #354D5D;
  border-left: 50px solid transparent;
}

/*used for product pages*/
.half-trapazoid-right {
  border-top: 100px solid #354D5D;
  border-right: 50px solid transparent;
  z-index: 1;
}

/*used for adding slanted colors to headers*/
.half-trapazoid-bronze {
  height: 0;
  width: 100%;
  border-top: 100px solid #AD7023;
  border-right: 40px solid transparent;
  z-index: 1;
}

/*used for adding slanted colors to headers*/
.half-trapazoid-silver {
  height: 0;
  width: 100%;
  border-top: 100px solid #B5B3B1;
  border-right: 40px solid transparent;
  z-index: 1;
}

/*used for adding slanted colors to headers*/
.half-trapazoid-yellow {
  height: 0;
  width: 100%;
  border-top: 100px solid #F4D312;
  border-right: 40px solid transparent;
  z-index: 1;
}

.header-color {
  background-color: #213E4D;
}

.home-page-brand {
  height: 1rem;
  overflow: hidden;
}

.hytorc-tool-purchase {
  width: auto;
  overflow: hidden;
  height: 10rem;
}

.hycare-title {
  font-size: 2rem;
}

.hycare-content {
  text-align: left;
}

.inline {
  display: inline-block !important;
}

.logo {
  height: 2.5rem;
  overflow: hidden;
}

.home-page-brand-logo {
  width: 100%;
  max-width: 50rem;
  height: auto;
}

.hy-care-row {
  background-color: black;
}

.hy-care-row:last-child {
  flex: 1;
}

.hycare-list-item {
  text-align: left;
}

.hycare-hr {
  border: none;
  height: 0.05rem;
  background-color: #333; /* Modern Browsers */
}

.footer-hr {
  border: none;
  height: 0.05rem;
  background-color: rgba(255,255,255,.5);
}

.mbdd {
  margin-bottom: 10rem;
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.no-decoration:hover {
  text-decoration: none;
  color: black;
}

.no-decoration:visited {
  color: black;
  text-decoration: none;
}

.dark-dec {
  color: black;
  text-decoration: none;
}

.dark-dec:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

.dark-dec:visited {
  color: black;
}

.no-dec {
  color: whitesmoke;
  text-decoration: none;
}

.no-dec:hover {
  color: whitesmoke;
  text-decoration: none;
}

.no-dec:visited {
  color: whitesmoke;
  text-decoration: none;
}

.page-header {
  text-align: center;
}

.table th, .table td { 
  border-top: none !important; 
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.marginb {
  margin-bottom: 4rem;
}

:root {
  --jumbotron-padding-y: 3rem;
}

/* Used on software page for card spacing */
* {
  box-sizing: border-box;
}

/*overriden from Bootsrap*/
/*Text size for nav bar links in the header*/
.nav-text {
  font-size: .85rem;
  color: #e0f3ff !important;
}

.nav-text:hover {
  color: white !important;
}

.margint {
  margin-top: 2rem;
}

/*adds padding to the right for the nav bar*/
.padding-top-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
}

.right-padding {
  margin-right: 2rem;
}

.dark {
  background-color: #354D5D !important;
}

.dark:active {
  background-color: #354D5D !important;
}

.dark:hover {
  background-color: #354D5D !important;
}

.dark-item {
  background-color: #354D5D;
}

.dark-item:hover {
  background-color: rgb(58, 90, 110) !important;
}

.drop-side {
    border-style: none;
    border-image: none;
    padding-left: 24px;
    padding-right: 24px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-submenu:hover .dropdown-menu{
  display: block;
}

.form-feild {
  background-color: white !important;
  height: 35px;
}

.fixed-height {
  height: 35px;
}

.bio-pic {
  max-width: 200px;
}

.contact-pic {
  display: block;
  width: 45%;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}

.half-width {
  width: 50px;
}

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

.dash {
  position: relative;
  top: 3px;
}

.phone-3 {
  max-width: 75px; 
  margin-right: 5px;
  margin-left: 5px;
}

.phone-4 {
  max-width: 100px;
  margin-right: 5px;
  margin-left: 5px;
}

.hidden {
  display: none;
}

/******************background images****************/

.custom-engineering {
  background-image: url(/images/custom-engineering.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 30rem;
}

.maintenance {
  background-image: url(/images/maintenance.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  height: 100%;
}

.mountain {
  background-image: url(/images/Magic-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  height: 100%;
}

.rentals {
  background-image: url(/images/rentals.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  height: 100%;
}

.team {
  background-image: url(/images/office-team-business-meeting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  height: 100%;
}

.utah-team {
  background-image: url(/images/utah-team-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  width: 100%;
}

.colorado-team {
  background-image: url(/images/colorado-team.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  border-radius: 1.5rem;
  width: 100%;
}

.nevada-team {
  background-image: url(/images/robert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 1.5rem;
  width: 100%;
}

.services {
  background-image: url(/images/hands-on-blueprints.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  height: 100%;
}

.training {
  background-image: url(/images/training-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  height: 100%;
}

.hycare {
  background-image: url(/images/stealth-show-4-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  height: 100%;
}

.wrench {
  background-image: url(/images/products.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  height: 100%;
}

.expo {
  background-image: url(/images/expo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  height: 100%;
}

/*test background image*/
.custom-engine {
  background-image: url(/images/custom-engine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  height: 100%;
}

.software {
  background-image: url(/images/bolting-software-darkend.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1.5rem;
  height: 100%;
}

/* bullet point pictures */
  /* products main page */
.accessories {
  background-image: url(/images/accessories.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center right;
}

.tensioner {
  background-image: url(/images/tensioner.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center right;
}

.fastener {
  background-image: url(/images/fastener.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center right;
}

.pump {
  background-image: url(/images/pump.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center right;
}

.gray {
  background-color: #646B6C;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  height: 100%;
}

.electric {
  background-image: url(/images/electric.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center right;
}

.hydrolic {
  background-image: url(/images/ice-feature-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}

.manual {
  background-image: url(/images/manual.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
}

.pneumatic {
  background-image: url(/images/pneumatic.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  height: 100%;
}

    /*rentals main page*/

.rental-tool-1 {
  background-image: url(/images/rentalTool.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  min-height: 3rem;
}

/*Contact us pictures*/

.placeholder {
  background-image: url(/images/profile-placeholder.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  float: left;
  width: 80px !important;
  min-width: 80px;
}

.randy {
  background-image: url(/images/randy.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  float: left;
  width: 80px !important;
  min-width: 80px;
}

.ryan {
  background-image: url(/images/ryan.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  float: left;
  width: 80px !important;
  min-width: 80px;
}

.chad {
  background-image: url(/images/chad.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  float: left;
  width: 80px !important;
  min-width: 80px;
}

.robert {
  background-image: url(/images/robert.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  float: left;
  width: 80px !important;
  min-width: 80px;
}
/*manual product page images*/

.manual-1 {
  background-image: url(/images/manual-feature-1.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.manual-2 {
  background-image: url(/images/manual-feature-2.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.manual-3 {
  background-image: url(/images/manual-feature-3.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

/*Ice product page images*/

.ice-1 {
  background-image: url(/images/ice-feature-1.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.ice-2 {
  background-image: url(/images/ice-feature-2.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.ice-3 {
  background-image: url(/images/ice-feature-3.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

/*Avanti product page images*/

.avanti-1 {
  background-image: url(/images/avanti-feature-1.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.avanti-2 {
  background-image: url(/images/avanti-feature-2.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.avanti-3 {
  background-image: url(/images/avanti-feature-3.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

/*mxt product page images*/

.mxt-1 {
  background-image: url(/images/mxt-feature-1.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.mxt-2 {
  background-image: url(/images/mxt-feature-2.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.mxt-3 {
  background-image: url(/images/mxt-feature-3.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

/*edge product page images*/

.edge-1 {
  background-image: url(/images/edge-feature-1.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.edge-2 {
  background-image: url(/images/edge-feature-2.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.edge-3 {
  background-image: url(/images/edge-feature-3.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

/*stealth product page images*/

.stealth-1 {
  background-image: url(/images/stealth-feature-1.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.stealth-2 {
  background-image: url(/images/stealth-feature-2.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.stealth-3 {
  background-image: url(/images/stealth-feature-3.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

/*xlct product page images*/

.xlct-1 {
  background-image: url(/images/xlct-feature-1.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.xlct-2 {
  background-image: url(/images/xlct-feature-2.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.xlct-3 {
  background-image: url(/images/xlct-feature-3.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

/*versa product page images*/

.versa-1 {
  background-image: url(/images/versa-feature-1.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.versa-2 {
  background-image: url(/images/versa-feature-2.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.versa-3 {
  background-image: url(/images/versa-feature-3.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

/* jgun dual product page */

.jgun-dual-1 {
  background-image: url(/images/jgun-dual-feature-1.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.jgun-dual-2 {
  background-image: url(/images/jgun-dual-feature-2.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.jgun-dual-3 {
  background-image: url(/images/jgun-dual-feature-3.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

/* jgun digital product page */

.jgun-digital-1 {
  background-image: url(/images/jgun-digital-feature-1.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.jgun-digital-2 {
  background-image: url(/images/jgun-digital-feature-2.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}

.jgun-digital-3 {
  background-image: url(/images/jgun-digital-feature-3.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 100%;
}


/*Hidden images size medium1*/
@media (max-width: 991.98px) {
  .rental-tool-1 {
    display: none;
  }
}

/*Max widths for page elements*/
.large-width {
  max-width: 2000px;
}

.md-width {
  max-width: 1000px;
}

.sm-width {
  max-width: 1200px;
}

/*Added Height*/
.lg-height {
  min-height: 500px;
}

.md-height {
  min-height: 250px;
}

/*personal bio pages*/


.bio-tool {
  min-height: 200px;
  height: 200px;
} 

/*Expo pages*/

.carousel-img {
  border-radius: 1rem;
}

